
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.9rem;
}.about-page-DYK {
  width: 100%;
  height: 136.4rem;
  position: relative;
  overflow: hidden;
  background-color: #dddddd;

  .footer-jmZ {
    flex-direction: column;
    width: 160rem;
    height: 50.4907rem;
    position: absolute;
    left: 0;
    top: 73.6rem;
    align-items: center;
    display: flex;

    .auto-group-qcq5-s75 {
      width: 100%;
      height: 41.5634rem;
      display: flex;
      align-items: center;
      background-color: #80cee3;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 6rem 25.02rem 8.863rem 25.9rem;

      .final-ks-7-BNf {
        width: 45rem;
        height: 26.7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
        flex-shrink: 0;
        margin-right: 18rem;
      }
      .group-44-uZZ {
        margin: 2.3rem 8.52rem 5.486rem 0rem;
        width: 22.36rem;
        height: calc(100% - 7.7856rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-fgk9-QFR {
          box-sizing: border-box;
          padding: 0rem 0.068rem 2.368rem 0.068rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .stay-in-touch-wFM {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.175;
            color: #000000;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.7781rem;
          }
          .group-39-G2j {
            flex-shrink: 0;
            margin-right: 5.6321rem;
            width: calc(100% - 5.6321rem);
            display: flex;
            align-items: center;

            .group-24-oYT {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.438rem 0.063rem 0rem;
              width: 2.0541rem;
              height: 1.7973rem;
              object-fit: contain;
            }
            .item-012-9638595661-WSs {
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
            }
          }
        }
        .group-40-piT {
          margin-bottom: 2.3681rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-38-m7u {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.408rem 0.065rem 0rem;
            width: 2.1519rem;
            height: 1.4358rem;
            position: relative;
          }
          .infouniletadvisorcom-ehV {
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #3c3c3b;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-41-NdV {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0rem 0.273rem;
          width: calc(100% - 0.8732rem);
          display: flex;

          .group-Wzb {
            width: 1.6638rem;
            height: 1.9792rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.09rem 1.623rem 0rem 0rem;
          }
          .archibald-st-toowoomba-qld-4350-2i3 {
            line-height: 1.3625;
            color: #3c3c3b;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 18.2rem;
            font-size: 1.7rem;
            font-weight: 400;
          }
        }
      }
      .group-96-iKy {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 5.5323rem;
        width: 15.2rem;

        .connect-with-eUX {
          line-height: 1.175;
          color: #000000;
          font-family: Maven Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.7781rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .group-95-naj {
          width: calc(100% - 3.0942rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 2.067rem 0rem 1.027rem;

          .auto-group-aeqp-XYK {
            flex-shrink: 0;
            margin: 0rem 0.5rem 2.368rem 0.719rem;
            width: calc(100% - 1.2188rem);
            display: flex;
            align-items: center;

            .group-4o9 {
              margin: 0rem 2.26rem 0.061rem 0rem;
              width: 1.0271rem;
              height: 1.7993rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .facebook-nUF {
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
            }
          }
          .auto-group-yo2p-7Fd {
            margin: 0rem 2.5rem 2.368rem 0rem;
            width: calc(100% - 2.5rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-3uy {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.09rem 1.477rem 0rem 0rem;
              width: 2.5283rem;
              height: 1.7993rem;
            }
            .twitter-PD9 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
          .auto-group-2ykf-j27 {
            flex-shrink: 0;
            margin-left: 0.2055rem;
            width: calc(100% - 0.2055rem);
            display: flex;
            align-items: center;

            .group-3Yb {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.746rem 0.061rem 0rem;
              width: 2.0542rem;
              height: 1.7993rem;
            }
            .instagram-A7R {
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
            }
          }
        }
      }
    }
    .auto-group-6mnx-gbZ {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.329rem 6.607rem 0rem 21.144rem;
      width: 100%;
      align-items: center;

      .rectangle-72-pSs {
        flex-shrink: 0;
        margin-bottom: 1.5179rem;
        width: 100%;
        height: 0.09rem;
        background-color: #af2b2b;
      }
      .auto-group-es5m-xZ5 {
        margin: 0rem 48.693rem 0rem 47.37rem;
        width: calc(100% - 96.0623rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--W4o {
          color: #3c3c3b;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.991rem 7.887rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3625;
        }
        .krishna-estate-2020-all-rights-reserved-1nF {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9907rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #3c3c3b;
        }
      }
    }
  }
  .banner-86B {
    width: 142.2rem;
    height: 65rem;
    position: absolute;
    left: 0;
    top: 8.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .final-ks-2-S6s {
    top: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
    width: 24.57rem;
    height: 11.7rem;
    position: absolute;
    left: 0;
  }
  .group-4-Mjd {
    left: 43.5rem;
    top: 3.0008rem;
    display: flex;
    align-items: center;
    width: 46.6893rem;
    height: 6.426rem;
    position: absolute;

    .auto-group-tfkd-Vqq {
      padding: 3.69rem 1.99rem 0rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;

      .group-3-SWB {
        line-height: 1.175;
        flex-shrink: 0;
        width: 6.3673rem;
        cursor: pointer;
        font-weight: 500;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 6.363rem 0.136rem 0rem;
        font-size: 2.2rem;
        color: #3c3c3b;
      }
      .buy-properties-vgF {
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
    .auto-group-oufm-Gk7 {
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-172-ozw {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.3744rem;
        opacity: 0.1;
        width: 2.1832rem;
        height: 0.4517rem;
        position: relative;
        object-fit: contain;
      }
      .rent-properties-MFm {
        font-weight: 500;
        color: #3c3c3b;
        margin-right: 0.8689rem;
        font-size: 2.2rem;
        line-height: 1.175;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
      }
    }
  }
  .rectangle-11-Tpb {
    border: solid 0.1rem #0fb3af;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
    background-color: #0fb3af;
    width: 9.1rem;
    height: 4rem;
    left: 118.8rem;
    position: absolute;
    top: 5.8rem;
    border-radius: 0.5rem;
  }
  .back-8vj {
    cursor: pointer;
    left: 120.4rem;
    font-size: 2.8rem;
    width: 6.3rem;
    height: 3.3rem;
    position: absolute;
    top: 5.9rem;
    font-weight: 500;
    line-height: 1.175;
    color: #fafafa;
    font-family: Maven Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .unlock-the-door-to-your-dreams-find-your-perfect-home-with-us-DhH {
    top: 68rem;
    font-size: 3.2rem;
    line-height: 1.4525;
    color: #3c3c3b;
    font-family: Kaushan Script, 'Source Sans Pro';
    height: 4.7rem;
    left: 29.6rem;
    font-weight: 400;
    white-space: nowrap;
    width: 85.2rem;
    position: absolute;
  }
  .welcome-agF {
    left: 57.6rem;
    top: 19.7rem;
    line-height: 1.175;
    width: 31.5rem;
    height: 9.4rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
    color: #0fb3af;
    font-family: Maven Pro, 'Source Sans Pro';
    position: absolute;
    font-size: 4rem;
  }
}
