
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140.6rem;
}.f0r-buying-view-hVH {
  padding-bottom: 25.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  box-sizing: border-box;

  .auto-group-dtuh-PN7 {
    margin: 0rem 13.5rem 15rem 0rem;
    width: calc(100% - 13.5rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .final-ks-4-61d {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
      flex-shrink: 0;
      margin-right: 7.9rem;
      width: 23.5rem;
      height: 11.7rem;
      background-size: 100% 100%;
    }
    .auto-group-hp2f-byy {
      margin-bottom: 0.5057rem;
      width: 98.1rem;
      height: 8.2696rem;
      position: relative;
      flex-shrink: 0;

      .navbar-LwZ {
        height: 4.1943rem;
        position: absolute;
        left: 0;
        top: 4.0753rem;
        display: flex;
        align-items: flex-end;
        width: 98.1rem;

        .group-78-fD9 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 87.1666rem;
          opacity: 0.1;
          width: 1.8334rem;
          height: 2rem;
          position: relative;
        }
        .rectangle-10-Puq {
          height: 4rem;
          cursor: pointer;
          border: solid 0.1rem #0fb3af;
          box-sizing: border-box;
          background-color: #0fb3af;
          margin-bottom: 0.1943rem;
          width: 9.1rem;
          box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
      }
      .group-4-rYX {
        align-items: center;
        width: 45.8204rem;
        height: 6.7174rem;
        position: absolute;
        left: 14.5rem;
        top: 0;
        display: flex;

        .auto-group-tpwm-nwy {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.917rem 3.79rem 0rem 0rem;
          height: 100%;

          .group-3-voH {
            line-height: 1.175;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 6.3673rem;
            cursor: pointer;
            font-weight: 500;
            color: #3c3c3b;
            margin: 0rem 4.563rem 0.2rem 0rem;
            font-size: 2.2rem;
          }
          .buy-properties-REF {
            cursor: pointer;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.175;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-7g6t-iDM {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .group-172-53u {
            margin: 0rem 0.583rem 3.665rem 0rem;
            opacity: 0.1;
            width: 2.1481rem;
            height: 0.4521rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .rent-properties-Zjm {
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.175;
            color: #3c3c3b;
          }
        }
      }
      .back-uHq {
        left: 90.545rem;
        font-size: 2.8rem;
        line-height: 1.175;
        white-space: nowrap;
        font-weight: 500;
        color: #fafafa;
        font-family: Maven Pro, 'Source Sans Pro';
        width: 6.3rem;
        height: 3.3rem;
        position: absolute;
        top: 4.2014rem;
      }
    }
  }
  .auto-group-4yy5-aum {
    flex-shrink: 0;
    margin-left: 1.1rem;
    width: calc(100% - 1.1rem);
    display: flex;
    align-items: flex-start;

    .mask-group-wEX {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 65.9rem;
      height: 39rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-mcnj-rsH {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 0.6rem;
      width: 72rem;
      align-items: center;

      .auto-group-fjw5-c5m {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 1.5rem 3.2rem 1.5rem;
        width: 100%;

        .auto-group-chdh-kBy {
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:4264:388');
          width: 55.9rem;
          height: 5rem;
          font-size: 3.6rem;
          line-height: 1.175;
          color: #ffffff;
          margin-bottom: 2.8rem;
          font-family: Maven Pro, 'Source Sans Pro';
          white-space: nowrap;
          background-size: cover;
          background-position: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 2.2rem;
          font-weight: 500;
        }
        .auto-group-vdt3-qDR {
          width: 55.9rem;
          height: 13.3rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-10-NUF {
            height: 5rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 27.7rem;
          }
          .l-V35 {
            white-space: nowrap;
            width: 14.1rem;
            height: 3.8rem;
            top: 0.6rem;
            font-size: 3.2rem;
            line-height: 1.175;
            color: #fafafa;
            font-family: Maven Pro, 'Source Sans Pro';
            position: absolute;
            left: 6.8rem;
            font-weight: 500;
          }
          .rectangle-12-CTH {
            height: 5rem;
            border: solid 0.1rem #0fb3af;
            box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
            top: 8.3rem;
            box-sizing: border-box;
            background-color: #0fb3af;
            border-radius: 0.5rem;
            width: 55.4rem;
            position: absolute;
            left: 0.5rem;
          }
          .rectangle-16-eq5 {
            left: 28.2rem;
            top: 0;
            border: solid 0.1rem #0fb3af;
            background-color: #0fb3af;
            border-radius: 0.5rem;
            width: 27.7rem;
            position: absolute;
            box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
            height: 5rem;
            box-sizing: border-box;
          }
          .view-more-k7R {
            height: 3.8rem;
            left: 30.9rem;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.175;
            color: #ffffff;
            width: 15.9rem;
            position: absolute;
            top: 0.4rem;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-49-rAT {
            left: 51.3rem;
            top: 0.6057rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.9886rem;
            height: 12.1542rem;
            position: absolute;
          }
          .contact-us-for-more-details-mHR {
            width: 41.3rem;
            left: 7.1rem;
            color: #ffffff;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.8rem;
            position: absolute;
            top: 8.9rem;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.175;
          }
        }
      }
      .unlock-the-door-to-your-dreams-find-your-perfect-home-with-us-your-journey-to-homeownership-begins-here-Rcs {
        line-height: 1.4525;
        color: #3c3c3b;
        font-family: Kaushan Script, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 72rem;
        font-size: 4rem;
        font-weight: 400;
      }
    }
  }
}
