
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.8rem;
}.for-rent-view-3jM {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  box-sizing: border-box;
  padding-bottom: 24.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-92qd-nwq {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 12.4rem 11.4rem 0rem;
    width: calc(100% - 12.4rem);

    .final-ks-4-vYF {
      margin-right: 8.6rem;
      width: 23.5rem;
      height: 11.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
      flex-shrink: 0;
    }
    .auto-group-9llx-jVh {
      height: 7.8753rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      width: 100.7rem;

      .navbar-GkX {
        left: 0;
        top: 3.8753rem;
        display: flex;
        align-items: flex-end;
        width: 100.7rem;
        height: 4rem;
        position: absolute;

        .group-78-1y1 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 91.067rem 0.206rem 0rem;
          opacity: 0.1;
          width: 1.8334rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
        }
        .rectangle-10-f1y {
          width: 7.8rem;
          height: 4rem;
          border: solid 0.1rem #0fb3af;
          box-sizing: border-box;
          box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
          background-color: #0fb3af;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
      }
      .group-4-8w9 {
        height: 6.7174rem;
        position: absolute;
        left: 13.8rem;
        top: 0;
        display: flex;
        align-items: center;
        width: 46.6263rem;

        .auto-group-nny7-H3M {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.917rem 3.79rem 0rem 0rem;
          height: 100%;

          .group-3-2Fq {
            font-family: Maven Pro, 'Source Sans Pro';
            margin: 0rem 4.563rem 0.2rem 0rem;
            cursor: pointer;
            font-size: 2.2rem;
            font-weight: 500;
            flex-shrink: 0;
            width: 6.3673rem;
            line-height: 1.175;
            color: #3c3c3b;
            white-space: nowrap;
          }
          .buy-properties-gLP {
            line-height: 1.175;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.2rem;
            font-weight: 500;
          }
        }
        .auto-group-w2j9-pSb {
          height: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-172-n8X {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 3.6653rem;
            opacity: 0.1;
            width: 2.1817rem;
            height: 0.4521rem;
            position: relative;
          }
          .rent-properties-ru5 {
            font-family: Maven Pro, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.175;
            white-space: nowrap;
            margin-right: 0.8059rem;
            cursor: pointer;
            color: #3c3c3b;
          }
        }
      }
      .back-NMd {
        position: absolute;
        font-size: 2.8rem;
        white-space: nowrap;
        line-height: 1.175;
        color: #fafafa;
        width: 6.3rem;
        height: 3.3rem;
        cursor: pointer;
        left: 93.8rem;
        top: 4.0753rem;
        font-weight: 500;
        font-family: Maven Pro, 'Source Sans Pro';
      }
    }
  }
  .auto-group-wwgw-sJP {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 7.1rem 0rem 3.3rem;
    width: calc(100% - 10.4rem);

    .mscinspectionsheader1r-2-D7M {
      margin-right: 6.5rem;
      width: 62.6rem;
      height: 46.6rem;
      position: relative;
      background-size: 100% 114.787%;
      background-position: 0 -3.4453rem;
      background-image: url('REPLACE_IMAGE:3661e1999da1e80c106742b6e82997624d560a50');
      flex-shrink: 0;
    }
    .auto-group-wyjr-i47 {
      flex-shrink: 0;
      margin-top: 0.5rem;
      width: 63.3rem;

      .auto-group-p28o-obM {
        position: relative;
        margin-bottom: 2.8rem;
        width: 57.9rem;
        height: 5rem;

        .rectangle-18-Z4j {
          border-radius: 0.5rem;
          width: 55.9rem;
          height: 5rem;
          position: absolute;
          left: 2rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .bhk-duplex-in-odhav-VDH {
          line-height: 1.175;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 3.6rem;
          font-weight: 500;
          font-family: Maven Pro, 'Source Sans Pro';
          width: 41.1rem;
          height: 4.3rem;
        }
      }
      .auto-group-gxo9-1Bd {
        align-items: center;
        margin: 0rem 5.4rem 3.3rem 2rem;
        width: calc(100% - 7.4rem);
        height: 5rem;
        display: flex;

        .auto-group-hhew-WeB {
          flex-shrink: 0;
          margin-right: 0.3rem;
          width: 27.9rem;
          height: 100%;
          position: relative;

          .rectangle-17-fX5 {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 27.7rem;
            height: 5rem;
            position: absolute;
            left: 0;
          }
          .month-zZM {
            top: 0.6rem;
            font-size: 3.2rem;
            font-weight: 500;
            height: 3.8rem;
            position: absolute;
            left: 1.8rem;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            width: 26.1rem;
            line-height: 1.175;
            color: #fafafa;
          }
        }
        .auto-group-irdd-gSB {
          box-sizing: border-box;
          padding: 0.4rem 0.611rem 0.54rem 2.7rem;
          height: 100%;
          display: flex;
          box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
          border-radius: 0.5rem;
          align-items: center;
          border: solid 0.1rem #0fb3af;
          background-color: #0fb3af;
          flex-shrink: 0;

          .view-more-QNB {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 4.5rem 0.26rem 0rem;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.175;
            color: #ffffff;
            font-family: Maven Pro, 'Source Sans Pro';
          }
          .group-51-8JB {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0057rem;
            width: 3.9886rem;
            height: 4.0542rem;
            cursor: pointer;
          }
        }
      }
      .auto-group-2nm5-z5V {
        width: calc(100% - 7.9rem);
        display: flex;
        align-items: center;
        border: solid 0.1rem #0fb3af;
        box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
        background-color: #0fb3af;
        box-sizing: border-box;
        padding: 0.6rem 0.911rem 0.24rem 6.6rem;
        border-radius: 0.5rem;
        margin: 0rem 5.4rem 4.4rem 2.5rem;

        .contact-us-for-more-details-H4b {
          line-height: 1.175;
          color: #ffffff;
          font-family: Maven Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.6rem 0.36rem 0rem;
          font-size: 3.2rem;
          font-weight: 500;
        }
        .group-52-aJb {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1057rem;
          width: 3.9886rem;
          height: 4.0542rem;
        }
      }
      .unlock-the-door-to-your-dreams-find-your-perfect-home-with-us-UPy {
        font-weight: 400;
        line-height: 1.4525;
        color: #3c3c3b;
        font-family: Kaushan Script, 'Source Sans Pro';
        margin-left: 0.5rem;
        max-width: 62.8rem;
        font-size: 4rem;
      }
    }
  }
}
