
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 145.1rem;
}.for-buy-properties-64P {
  box-sizing: border-box;
  padding-right: 12.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 68.2rem);
  grid-auto-rows: 149.932rem;
  background-color: #dddddd;

  .buy-properties-ynP {
    line-height: 1.175;
    letter-spacing: 0.1rem;
    color: #0fb3af;
    font-family: Maven Pro, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 5rem;
    font-weight: 700;
  }
  .group-173-ggo {
    width: 118rem;
    height: 189.1593rem;
    position: relative;

    .rectangle-80-po1 {
      width: 36.1523rem;
      height: 38.1178rem;
      position: absolute;
      left: 80.6rem;
      top: 86.2rem;
      box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
      background-color: #ffffff;
      border-radius: 1rem;
    }
    .reviews-blogs-uJf {
      width: 118rem;
      height: 189.1593rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-oec7-2eB {
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 4.7637rem;
        width: 100%;
        height: 38.8126rem;
        display: flex;

        .auto-group-cyl7-xnj {
          margin-right: 4.2629rem;
          box-sizing: border-box;
          padding-bottom: 3.2624rem;
          width: 36.3371rem;
          box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;

          .mask-group-V1y {
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 1.8654rem;
            width: 36.3371rem;
            height: 24.0214rem;
            position: relative;
          }
          .bhk-duplex-ccP {
            margin: 0rem 0rem 2.323rem 1.757rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.175;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-rswh-vd5 {
            margin: 0rem 2.582rem 0rem 1.147rem;
            width: calc(100% - 3.7293rem);
            height: 4.4407rem;
            display: flex;
            align-items: center;

            .group-65-qV9 {
              margin-right: 14.18rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .auto-group-cip1-ahd {
                margin-right: 0.697rem;
                width: 5.8054rem;
                height: 100%;
                flex-shrink: 0;

                .auto-group-ag9d-7Sf {
                  margin-bottom: 0.6407rem;
                  width: 100%;
                  display: flex;
                  align-items: flex-end;

                  .item-43-qtT {
                    font-family: Maven Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 1.4031rem;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1.175;
                    color: #0fb3af;
                  }
                  .group-m1R {
                    margin-bottom: 0.1702rem;
                    width: 1.5023rem;
                    height: 1.5203rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .ratings-HVZ {
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  letter-spacing: 0.02rem;
                  color: #7e7e7e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .group-cXq {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
              }
              .group-9Gs {
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .group-syZ {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
              }
              .auto-group-5ndm-cRM {
                height: 1.5203rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.7095rem;
                width: 1.5023rem;
              }
            }
            .group-48-wyR {
              margin-top: 0.019rem;
              width: 3.825rem;
              height: 4.0542rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-k8lf-eN3 {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 4.694rem 0.013rem 0rem;
          width: 36.3686rem;
          height: calc(100% - 0.0126rem);

          .bhk-duplex-N39 {
            left: 1.7151rem;
            top: 26.6329rem;
            line-height: 1.175;
            white-space: nowrap;
            width: 13.1rem;
            height: 2.4rem;
            font-weight: 500;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            position: absolute;
            font-size: 2rem;
          }
          .rectangle-18-sEo {
            top: 0.5rem;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 35.2rem;
            height: 38.3rem;
            position: absolute;
            left: 0.2rem;
          }
          .group-65-mLB {
            width: 14.6028rem;
            height: 4.4407rem;
            position: absolute;
            left: 1.3789rem;
            top: 31.1095rem;
            display: flex;
            align-items: flex-start;

            .auto-group-4yls-zCw {
              margin-right: 0.697rem;
              width: 5.8054rem;
              height: 100%;
              flex-shrink: 0;

              .auto-group-uipf-v6b {
                margin-bottom: 0.6407rem;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .item-43-s1q {
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.175;
                  color: #0fb3af;
                  font-family: Maven Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.4031rem;
                }
                .group-zcF {
                  margin-bottom: 0.1702rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .ratings-Xs5 {
                color: #7e7e7e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.3625;
                letter-spacing: 0.02rem;
              }
            }
            .group-dQK {
              flex-shrink: 0;
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-wA7 {
              flex-shrink: 0;
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-4kX {
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-urqf-Q3h {
              width: 1.5023rem;
              height: 1.5203rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.7095rem;
            }
          }
          .group-48-jbm {
            width: 3.825rem;
            height: 4.0542rem;
            position: absolute;
            left: 30.1618rem;
            top: 31.3122rem;
            object-fit: contain;
            vertical-align: top;
          }
          .mask-group-G5u {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 36.3686rem;
            height: 24rem;
          }
          .bhk-duplex-oLj {
            width: 13.1rem;
            position: absolute;
            left: 2.0167rem;
            line-height: 1.175;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.4rem;
            top: 26.8339rem;
            font-size: 2rem;
            font-weight: 500;
          }
        }
        .auto-group-f8sy-6aj {
          box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.2624rem;
          width: 36.3371rem;

          .mask-group-S8o {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 1.9257rem;
            width: 36.3371rem;
            height: 24.0214rem;
          }
          .bhk-villa-No9 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.175;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.262rem 1.147rem;
          }
          .auto-group-fskm-tmV {
            margin: 0rem 2.582rem 0rem 1.147rem;
            width: calc(100% - 3.7293rem);
            height: 4.4407rem;
            display: flex;
            align-items: center;

            .group-65-odZ {
              flex-shrink: 0;
              margin-right: 14.18rem;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .auto-group-r9o5-viB {
                width: 5.8053rem;
                height: 100%;
                flex-shrink: 0;
                margin-right: 0.6971rem;

                .auto-group-gtkf-GX9 {
                  margin-bottom: 0.6407rem;
                  width: 100%;
                  display: flex;
                  align-items: flex-end;

                  .item-43-DSP {
                    font-family: Maven Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 1.403rem;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1.175;
                    color: #0fb3af;
                  }
                  .group-x95 {
                    width: 1.5023rem;
                    height: 1.5203rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.1702rem;
                  }
                }
                .ratings-toR {
                  line-height: 1.3625;
                  letter-spacing: 0.02rem;
                  color: #7e7e7e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1rem;
                  font-weight: 400;
                }
              }
              .group-RYT {
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .group-Z8s {
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .group-gjH {
                flex-shrink: 0;
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
                object-fit: contain;
                vertical-align: top;
              }
              .auto-group-r2m5-2HM {
                height: 1.5203rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.7095rem;
                width: 1.5023rem;
              }
            }
            .group-48-9My {
              margin-top: 0.019rem;
              width: 3.825rem;
              height: 4.0542rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-yzso-pDD {
        flex-shrink: 0;
        margin-bottom: 60.1545rem;
        width: 100%;
        height: 81.3743rem;
        display: flex;
        align-items: flex-start;

        .auto-group-cmhh-wod {
          margin-right: 4.4629rem;
          width: 36.3371rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-fpyz-tD5 {
            margin-bottom: 4.7492rem;
            width: 100%;
            display: flex;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 2.3888rem;
            flex-direction: column;

            .mask-group-pMd {
              margin-bottom: 1.9258rem;
              width: 36.3371rem;
              height: 24.0214rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .bhk-banglow-ZKD {
              margin: 0rem 0rem 0.277rem 1.147rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-5iw3-sao {
              margin: 0rem 2.582rem 0rem 0.247rem;
              width: calc(100% - 2.8293rem);
              height: 7.3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-66-nxf {
                margin: 1.486rem 4.35rem 1.374rem 0rem;
                height: calc(100% - 2.8594rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-gjr9-X9Z {
                  margin-right: 0.697rem;
                  width: 5.8054rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-2gvs-sUK {
                    align-items: flex-end;
                    margin-bottom: 0.6406rem;
                    width: 100%;
                    display: flex;

                    .item-43-p8f {
                      margin-right: 1.4031rem;
                      font-size: 2rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .group-Lco {
                      height: 1.5203rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-bottom: 0.1702rem;
                      width: 1.5023rem;
                    }
                  }
                  .ratings-4oh {
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                  }
                }
                .group-c4X {
                  margin: 0.709rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-LmD {
                  margin: 0.709rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-gKH {
                  margin: 0.709rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-gby9-pAb {
                  width: 1.5023rem;
                  height: 1.5203rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7095rem;
                }
              }
              .auto-group-3ggf-Z8B {
                vertical-align: top;
                flex-shrink: 0;
                width: 14.5553rem;
                height: 7.3rem;
                position: relative;
                object-fit: contain;
              }
            }
          }
          .auto-group-aigp-TUT {
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            border-radius: 1rem;
            padding: 25.942rem 0.2rem 3.096rem 0.2rem;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;

            .bhk-banglow-bKm {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1.7rem 1.6rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
            }
            .auto-group-f4et-73D {
              margin-right: 2.9122rem;
              width: calc(100% - 2.9122rem);
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .group-67-rWb {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin: 0rem 14.597rem 0.734rem 0rem;
                height: 4.4406rem;

                .auto-group-mj8o-aSb {
                  flex-shrink: 0;
                  margin-right: 0.697rem;
                  width: 5.8054rem;
                  height: 100%;

                  .auto-group-detz-Xsd {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 0.6406rem;
                    width: 100%;

                    .item-43-V3m {
                      margin-right: 1.4031rem;
                      font-size: 2rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .group-DEf {
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-bottom: 0.1702rem;
                      width: 1.5023rem;
                      height: 1.5203rem;
                      object-fit: contain;
                    }
                  }
                  .ratings-kVV {
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                  }
                }
                .group-6JT {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.709rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                }
                .group-2hu {
                  margin: 0.709rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-AZD {
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.709rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                }
                .auto-group-enum-tVD {
                  height: 1.5203rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7095rem;
                  width: 1.5023rem;
                }
              }
              .auto-group-qcfy-cw1 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.825rem;
                height: 4.0542rem;
              }
            }
          }
        }
        .auto-group-5lwj-vRu {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.4314rem;
          width: 36.3686rem;
          height: 100%;

          .auto-group-hxhd-sM9 {
            flex-direction: column;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0rem 4.711rem 0.031rem;
            box-sizing: border-box;
            padding-bottom: 3.303rem;
            width: calc(100% - 0.0314rem);
            display: flex;

            .auto-group-6fxk-nj1 {
              height: 24.0214rem;
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:1:3967');
              padding: 3.303rem 2.169rem 3.303rem 24.369rem;
              box-sizing: border-box;
              width: 100%;
              background-position: center;
              flex-shrink: 0;
              margin-bottom: 1.9258rem;

              .frame-3-W9D {
                width: 100%;
                height: 10rem;
                overflow: hidden;
                position: relative;
              }
            }
            .bhk-banglow-SHm {
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.262rem 1.147rem;
              font-size: 2rem;
            }
            .auto-group-gevd-AUf {
              width: calc(100% - 3.7293rem);
              height: 4.4rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.582rem 0rem 1.147rem;

              .group-68-5rX {
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.1801rem;

                .auto-group-v8b1-SBH {
                  flex-shrink: 0;
                  margin-right: 0.697rem;
                  width: 5.8053rem;
                  height: 100%;

                  .auto-group-ughd-PMR {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 0.6rem;
                    width: 100%;

                    .item-43-LnT {
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1.403rem;
                      font-size: 2rem;
                      font-weight: 500;
                      line-height: 1.175;
                    }
                    .group-sGb {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-bottom: 0.2rem;
                      width: 1.5023rem;
                      height: 1.5rem;
                    }
                  }
                  .ratings-cEB {
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                  }
                }
                .group-Ydd {
                  margin: 0.7rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-UGP {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.7rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                }
                .group-CTH {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.7rem 0.697rem 0rem 0rem;
                  width: 1.5023rem;
                  height: 1.5rem;
                }
                .auto-group-2osf-vu5 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5023rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                }
              }
              .group-69-Te7 {
                height: 4.0542rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0597rem;
                width: 3.825rem;
              }
            }
          }
          .auto-group-xvvb-wpB {
            flex-shrink: 0;
            margin-right: 0.0239rem;
            width: calc(100% - 0.0239rem);
            height: 38.3506rem;
            position: relative;

            .rectangle-81-gFy {
              border-radius: 1rem;
              width: 36.3371rem;
              height: 38.3126rem;
              position: absolute;
              left: 0.0075rem;
              top: 0.038rem;
              box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
              background-color: #ffffff;
            }
            .bhk-banglow-as9 {
              top: 24.7797rem;
              font-weight: 500;
              color: #3c3c3b;
              position: absolute;
              left: 1.8rem;
              font-size: 2rem;
              line-height: 1.175;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              width: 14.7rem;
              height: 2.4rem;
            }
            .ellipse-10-VUK {
              object-fit: contain;
              vertical-align: top;
              width: 3.825rem;
              height: 4.0542rem;
              position: absolute;
              left: 29rem;
              top: 31.4rem;
            }
            .vector-oV1 {
              vertical-align: top;
              width: 1.8008rem;
              height: 1.3135rem;
              position: absolute;
              left: 29.9723rem;
              top: 32.7732rem;
              object-fit: contain;
            }
            .group-68-8GP {
              position: absolute;
              left: 0.6rem;
              top: 28.3797rem;
              display: flex;
              align-items: flex-start;
              width: 14.6029rem;
              height: 4.4406rem;

              .auto-group-dzqf-qwV {
                margin-right: 0.697rem;
                width: 5.8054rem;
                height: 100%;
                flex-shrink: 0;

                .auto-group-jlu7-C1M {
                  align-items: flex-end;
                  margin-bottom: 0.6406rem;
                  width: 100%;
                  display: flex;

                  .item-43-wjd {
                    color: #0fb3af;
                    font-family: Maven Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 1.4031rem;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1.175;
                  }
                  .group-5L3 {
                    margin-bottom: 0.1702rem;
                    width: 1.5023rem;
                    height: 1.5203rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .ratings-1zP {
                  color: #7e7e7e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  letter-spacing: 0.02rem;
                }
              }
              .group-kh5 {
                height: 1.5203rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
              }
              .group-gaj {
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .group-1su {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.709rem 0.697rem 0rem 0rem;
                width: 1.5023rem;
                height: 1.5203rem;
                object-fit: contain;
              }
              .auto-group-h3dr-kab {
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.7095rem;
                width: 1.5023rem;
                height: 1.5203rem;
                position: relative;
                object-fit: contain;
              }
            }
            .house-1-1-gj9 {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem 1rem 0 0;
              width: 36.3rem;
              height: 21.9rem;
              position: absolute;
              left: 0;
            }
          }
        }
        .auto-group-abry-PtT {
          width: 37.4rem;
          height: 80.378rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-79-8r3 {
            width: 36.3371rem;
            height: 38.3126rem;
            position: absolute;
            left: 1.0629rem;
            top: 0;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
          }
          .bhk-villa-Pmy {
            font-family: Maven Pro, 'Source Sans Pro';
            position: absolute;
            left: 2.2104rem;
            top: 25.9472rem;
            font-weight: 500;
            color: #3c3c3b;
            width: 10.6rem;
            height: 2.4rem;
            font-size: 2rem;
            line-height: 1.175;
            white-space: nowrap;
          }
          .group-70-tTq {
            width: 14.6028rem;
            height: 4.4406rem;
            position: absolute;
            left: 2.2104rem;
            top: 30.6096rem;
            display: flex;
            align-items: flex-start;

            .auto-group-ddif-CzK {
              margin-right: 0.6971rem;
              width: 5.8053rem;
              height: 100%;
              flex-shrink: 0;

              .auto-group-dxfq-YYP {
                margin-bottom: 0.6406rem;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .item-43-hRH {
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.175;
                  color: #0fb3af;
                  font-family: Maven Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.403rem;
                }
                .group-q1h {
                  margin-bottom: 0.1702rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .ratings-mR9 {
                font-weight: 400;
                line-height: 1.3625;
                letter-spacing: 0.02rem;
                color: #7e7e7e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1rem;
              }
            }
            .group-6yD {
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.709rem 0.697rem 0rem 0rem;
            }
            .group-SGP {
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-ATH {
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-jjdu-tPH {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.7095rem;
              width: 1.5023rem;
              height: 1.5203rem;
            }
          }
          .group-71-caB {
            top: 30.6096rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.7318rem;
            height: 49.7684rem;
            position: absolute;
            left: 30.9932rem;
          }
          .mask-group-wMZ {
            vertical-align: top;
            width: 36.3371rem;
            height: 24.0214rem;
            position: absolute;
            left: 1.0629rem;
            top: 0;
            object-fit: contain;
          }
          .bhk-banglow-5if {
            height: 2.4rem;
            top: 67.0237rem;
            font-weight: 500;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            color: #3c3c3b;
            width: 14.7rem;
            position: absolute;
            left: 1.7rem;
            font-size: 2rem;
            line-height: 1.175;
          }
          .image-13-PzF {
            left: 0;
            top: 42.6237rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem 1rem 0 0;
            width: 36.2rem;
            height: 22.3rem;
            position: absolute;
          }
          .group-69-vDV {
            align-items: flex-start;
            width: 14.6028rem;
            height: 4.4406rem;
            position: absolute;
            left: 2.3rem;
            top: 71.4034rem;
            display: flex;

            .auto-group-5ja7-e9V {
              width: 5.8054rem;
              height: 100%;
              flex-shrink: 0;
              margin-right: 0.697rem;

              .auto-group-3hlj-b4j {
                margin-bottom: 0.6406rem;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .item-43-jwd {
                  color: #0fb3af;
                  font-family: Maven Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.4031rem;
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.175;
                }
                .group-HCT {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.1702rem;
                  width: 1.5023rem;
                  height: 1.5203rem;
                }
              }
              .ratings-E7h {
                font-weight: 400;
                line-height: 1.3625;
                letter-spacing: 0.02rem;
                color: #7e7e7e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1rem;
              }
            }
            .group-Zfm {
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.709rem 0.697rem 0rem 0rem;
            }
            .group-Hbm {
              flex-shrink: 0;
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-DkK {
              height: 1.5203rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.709rem 0.697rem 0rem 0rem;
              width: 1.5023rem;
            }
            .auto-group-cqw9-A9m {
              margin-top: 0.7095rem;
              width: 1.5023rem;
              height: 1.5203rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .group-92-HkB {
        width: calc(100% - 99.2737rem);
        height: 4.0542rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.645rem 0rem 49.629rem;

        .auto-group-rkqd-1AP {
          padding: 0.811rem 2.147rem 0.743rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-Kwm {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.038rem 2.311rem 0rem 0rem;
            opacity: 0.4;
            width: 1.8008rem;
            height: 1.3135rem;
            object-fit: contain;
          }
          .item-1-3cs {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3625;
            letter-spacing: 0.09rem;
            color: #3c3c3b;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .auto-group-9qtm-Nf9 {
          width: 3.825rem;
          height: 100%;
          font-size: 1.8rem;
          line-height: 1.3625;
          letter-spacing: 0.09rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          background-size: cover;
          background-image: url('REPLACE_IMAGE:1:3980');
          flex-shrink: 0;
          margin-right: 2.295rem;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat;
          background-position: center;
          white-space: nowrap;
        }
        .item-3-3mH {
          margin: 0.067rem 2.147rem 0rem 0rem;
          font-weight: 700;
          color: #3c3c3b;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          line-height: 1.3625;
          letter-spacing: 0.09rem;
          flex-shrink: 0;
        }
        .group-M1H {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1055rem;
          opacity: 0.4;
          width: 1.8008rem;
          height: 1.3135rem;
        }
      }
    }
  }
  .auto-group-ndsw-eFH {
    height: 9rem;
    display: flex;
    align-items: center;

    .final-ks-2-zK9 {
      width: 18.9rem;
      height: 9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ogrk-vyV {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.423rem 0rem 0.4rem 28.8rem;
      height: 100%;

      .group-4-GGf {
        flex-shrink: 0;
        margin: 0rem 27.596rem 1.5rem 0rem;
        width: 46.6045rem;
        height: 4.6771rem;
        position: relative;

        .group-172-CAK {
          left: 44.5228rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.1;
          width: 2.0817rem;
          height: 1.0384rem;
          position: absolute;
        }
        .buy-properties-KVq {
          cursor: pointer;
          position: absolute;
          line-height: 1.175;
          color: #3c3c3b;
          font-family: Maven Pro, 'Source Sans Pro';
          font-weight: 500;
          white-space: nowrap;
          width: 15.1rem;
          height: 2.6rem;
          left: 10.3rem;
          top: 2.0771rem;
          font-size: 2.2rem;
        }
        .rent-properties-ovo {
          font-size: 2.2rem;
          font-weight: 500;
          white-space: nowrap;
          height: 2.6rem;
          cursor: pointer;
          left: 28.1rem;
          line-height: 1.175;
          color: #3c3c3b;
          font-family: Maven Pro, 'Source Sans Pro';
          width: 16rem;
          position: absolute;
          top: 2.0771rem;
        }
        .home-7Ao {
          position: absolute;
          left: 0;
          font-weight: 500;
          line-height: 1.175;
          color: #3c3c3b;
          width: 6rem;
          height: 2.6rem;
          top: 1.8771rem;
          font-size: 2.2rem;
          font-family: Maven Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-4-oJX {
          height: 4.6771rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: flex-end;
          width: 46.6045rem;

          .group-3-iwH {
            margin: 0rem 4.3rem 0.2rem 0rem;
            font-size: 2.2rem;
            font-weight: 500;
            font-family: Maven Pro, 'Source Sans Pro';
            flex-shrink: 0;
            width: 6rem;
            white-space: nowrap;
            cursor: pointer;
            line-height: 1.175;
            color: #3c3c3b;
            display: flex;
            height: 2.6rem;
            align-items: center;
            justify-content: center;
          }
          .buy-properties-nw9 {
            margin-right: 2.7rem;
            line-height: 1.175;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.2rem;
            font-weight: 500;
            white-space: nowrap;
          }
          .rent-properties-6gw {
            cursor: pointer;
            line-height: 1.175;
            white-space: nowrap;
            margin-right: 0.4228rem;
            font-weight: 500;
            color: #3c3c3b;
            font-family: Maven Pro, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2.2rem;
          }
          .group-172-dRy {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 3.6387rem;
            opacity: 0.1;
            width: 2.0817rem;
            height: 1.0384rem;
          }
        }
      }
      .auto-group-xlxz-9fD {
        color: #fafafa;
        border: solid 0.1rem #0fb3af;
        height: 4rem;
        white-space: nowrap;
        background-color: #0fb3af;
        flex-shrink: 0;
        font-size: 2.8rem;
        padding: 0.126rem 1.855rem 0.126rem 0.945rem;
        line-height: 1.175;
        font-family: Maven Pro, 'Source Sans Pro';
        box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
        box-sizing: border-box;
        border-radius: 0.5rem;
        font-weight: 500;
      }
    }
  }
}
