
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.7rem;
}.home-page-6co {
  background-color: #dddddd;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-egx9-qqH {
    margin-right: 48.5202rem;
    width: calc(100% - 48.5202rem);
    height: 11.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .final-ks-3-B8T {
      background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
      flex-shrink: 0;
      margin-right: 26rem;
      width: 23.5rem;
      height: 11.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .group-5-hsV {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 2.814rem 0rem 4.7rem 0rem;
      height: calc(100% - 7.514rem);

      .home-SKH {
        font-weight: 500;
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.3rem 0.2rem 0rem;
        font-size: 2.2rem;
      }
      .buy-properties-MSF {
        font-size: 2.2rem;
        line-height: 1.175;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 2.7rem;
        cursor: pointer;
        font-weight: 500;
        color: #3c3c3b;
        flex-shrink: 0;
      }
      .rent-properties-HKu {
        cursor: pointer;
        font-size: 2.2rem;
        font-weight: 500;
        color: #3c3c3b;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.4966rem;
        line-height: 1.175;
        font-family: Maven Pro, 'Source Sans Pro';
      }
      .group-172-yyR {
        width: 2.0832rem;
        height: 1.2608rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.9252rem;
        opacity: 0.1;
      }
    }
  }
  .auto-group-zxxm-huR {
    width: 148.0458rem;
    height: 57.2rem;
    position: relative;
    flex-shrink: 0;

    .banner-Fg3 {
      position: absolute;
      left: 0;
      top: 4.9558rem;
      object-fit: contain;
      vertical-align: top;
      width: 148.0458rem;
      height: 37.8572rem;
    }
    .rectangle-87-oSf {
      vertical-align: top;
      width: 144rem;
      height: 57.2rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .welcome-to-krishna-estate-jr7 {
      font-weight: 500;
      letter-spacing: 0.096rem;
      font-family: Megrim, 'Source Sans Pro';
      width: 55.5rem;
      height: 6.1rem;
      left: 42.6rem;
      top: 5rem;
      white-space: nowrap;
      position: absolute;
      font-size: 4.8rem;
      line-height: 1.2575;
      color: #000000;
    }
  }
  .auto-group-tadm-PQs {
    padding: 0rem 0rem 35.3rem 0.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-t2jr-VTu {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 9.7rem 6.5rem 9.5rem;
      width: calc(100% - 19.2rem);
      height: 227.4rem;

      .recently-reviewed-DPu {
        width: 123.4rem;
        height: 227.4rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-ow6o-kPq {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 32.3rem 5.6rem 25.7rem;
          width: 100%;
          align-items: center;
          display: flex;

          .recently-reviewed-6Co {
            font-weight: 700;
            font-family: Maven Pro, 'Source Sans Pro';
            flex-shrink: 0;
            letter-spacing: 0.08rem;
            color: #0fb3af;
            white-space: nowrap;
            margin: 0rem 0rem 2.3rem 7.1rem;
            font-size: 4rem;
            line-height: 1.175;
          }
          .more-then-10000-clients-who-are-happy-with-us-are-you-next-one-oN7 {
            text-align: center;
            font-weight: 400;
            line-height: 1.3625;
            color: #3c3c3b;
            white-space: nowrap;
            font-size: 2rem;
            letter-spacing: 0.04rem;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-eegw-s75 {
          width: 100%;
          height: 37.8rem;
          display: flex;
          column-gap: 4.7rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 8.2rem;

          .auto-group-zmqz-aGP {
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;

            .mask-group-6Vd {
              margin-bottom: 1.1rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .bhk-duplex-3Qs {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 2.5rem;
            }
            .auto-group-4gxx-Zu1 {
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;

              .group-65-gTq {
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-zmyy-1m1 {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-xwby-Z1q {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-Tsu {
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .group-BJ7 {
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                    }
                  }
                  .ratings-LB1 {
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                  }
                }
                .group-F35 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .group-Avj {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .group-vf1 {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .auto-group-cqef-4WK {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-48-CsR {
                height: 4rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 4rem;
              }
            }
          }
          .auto-group-kp3v-u19 {
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;

            .mask-group-DGj {
              margin-bottom: 1.1rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .bhk-duplex-ZLb {
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 3.5rem;
              font-size: 2.4rem;
            }
            .auto-group-87ep-HXV {
              display: flex;
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;

              .group-65-pGX {
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;

                .auto-group-6pso-juH {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-hykh-hLK {
                    align-items: center;
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;

                    .item-43-Fsd {
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                    }
                    .group-Pyq {
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                    }
                  }
                  .ratings-MQs {
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                  }
                }
                .group-J5D {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-ddH {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-YkF {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-f5ax-WSB {
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .group-48-uUK {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-4qi7-Dzo {
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);

            .mask-group-7qH {
              margin-bottom: 1.1rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .bhk-villa-51R {
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 3rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
            }
            .auto-group-szu1-7io {
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;
              align-items: center;

              .group-65-2Ky {
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-sgyx-ABH {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-qrax-iTh {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-5JF {
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                    }
                    .group-ozw {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                      height: 1.5rem;
                    }
                  }
                  .ratings-9J7 {
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                  }
                }
                .group-TZh {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-p9M {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-Zsd {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                }
                .auto-group-r9ck-XJf {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                }
              }
              .group-48-FVZ {
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 4rem;
              }
            }
          }
        }
        .auto-group-v9w5-VPu {
          flex-shrink: 0;
          width: 100%;
          height: 37.8rem;
          display: flex;
          column-gap: 4.7rem;
          align-items: center;

          .auto-group-cyrj-SK9 {
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);

            .mask-group-n87 {
              margin-bottom: 1.6rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .bhk-banglow-hks {
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 1.8rem 1.4rem;
              font-size: 2.4rem;
              font-weight: 500;
            }
            .auto-group-ssx7-Eko {
              display: flex;
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;

              .group-66-MaX {
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;

                .auto-group-u5kb-huH {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-iykm-3iF {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-19H {
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                    }
                    .group-9WP {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                      height: 1.5rem;
                    }
                  }
                  .ratings-gmD {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .group-2aB {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                }
                .group-BT5 {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                }
                .group-wBM {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .auto-group-yjn3-rp7 {
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .auto-group-hcrv-Qaj {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 4rem;
                height: 4rem;
              }
            }
          }
          .auto-group-qdnx-7V9 {
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;

            .mask-group-qR9 {
              margin-bottom: 1.5rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .bhk-banglow-mJo {
              white-space: nowrap;
              margin: 0rem 0rem 1.9rem 1.1rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
            }
            .auto-group-g8kp-Vkb {
              display: flex;
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;

              .group-68-DRh {
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;

                .auto-group-tswb-Mno {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-hb8b-vL7 {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-t23 {
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                    }
                    .group-zKy {
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                    }
                  }
                  .ratings-wm1 {
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                  }
                }
                .group-Hps {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .group-pZu {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-jwm {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-yx1q-tpf {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-69-E7q {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-crik-wnw {
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .mask-group-sAo {
              margin-bottom: 1.5rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .bhk-villa-DVZ {
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 1.9rem 2.7rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
            }
            .auto-group-scgp-kVV {
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;
              align-items: center;

              .group-70-gtw {
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;
                height: 100%;

                .auto-group-svmh-S7R {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-bswr-PoM {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.1rem;
                    width: 100%;

                    .item-43-8kw {
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .group-ejH {
                      width: 1.5711rem;
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .ratings-ZbM {
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                  }
                }
                .group-6rB {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                }
                .group-Sv3 {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-XAo {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .auto-group-pbe7-5CK {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                }
              }
              .group-71-R1H {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-kt59-eud {
          box-sizing: border-box;
          padding: 6rem 3.3rem 0rem 3.3rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-lei3-PMR {
            flex-shrink: 0;
            border: solid 0.1rem #3c3c3b;
            width: calc(100% - 99.3rem);
            font-size: 1.8rem;
            line-height: 1.175;
            letter-spacing: 0.09rem;
            align-items: center;
            justify-content: center;
            margin: 0rem 48.8rem 6rem 50.5rem;
            font-weight: 700;
            white-space: nowrap;
            display: flex;
            box-sizing: border-box;
            box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
            height: 5.8rem;
            font-family: Maven Pro, 'Source Sans Pro';
            background-color: #3c3c3b;
            border-radius: 0.5rem;
            color: #ffffff;
          }
          .recently-reviewed-for-renting-pSj {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 10.6rem 2.7rem;
            font-weight: 700;
            line-height: 1.175;
            letter-spacing: 0.08rem;
            font-size: 4rem;
            color: #0fb3af;
            font-family: Maven Pro, 'Source Sans Pro';
          }
          .auto-group-sm1y-vkf {
            width: calc(100% - 36.8rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 36.8rem 1.9rem 0rem;

            .auto-group-9fsw-Sj1 {
              width: 39.4rem;
              height: 38.8rem;
              position: relative;
              flex-shrink: 0;
              margin-right: 2.6rem;

              .rectangle-83-Ncf {
                width: 38rem;
                height: 37.8rem;
                position: absolute;
                left: 1.4rem;
                top: 1rem;
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
              }
              .mask-group-FRZ {
                object-fit: contain;
                vertical-align: top;
                width: 37.9813rem;
                height: 23.2354rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .bhk-duplex-23000-month-oT5 {
                font-weight: 500;
                line-height: 1.175;
                position: absolute;
                font-size: 3.2rem;
                left: 1.3rem;
                top: 25.1rem;
                color: #3c3c3b;
                font-family: Maven Pro, 'Source Sans Pro';
                width: 24rem;
                height: 11.3rem;
              }
            }
            .auto-group-6odz-J8w {
              margin-top: 0.6rem;
              width: 38rem;
              height: 43.3rem;
              position: relative;
              flex-shrink: 0;

              .rectangle-102-2qd {
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
                height: 37.8rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .mask-group-ZKm {
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 38rem;
                height: 22.6354rem;
                position: absolute;
              }
              .bhk-buglow-20000-month-6Kh {
                width: 24.2rem;
                height: 18.8rem;
                font-size: 3.2rem;
                font-weight: 500;
                line-height: 1.175;
                position: absolute;
                left: 0.3rem;
                top: 24.5rem;
                color: #3c3c3b;
                font-family: Maven Pro, 'Source Sans Pro';
              }
            }
          }
          .auto-group-tvcb-oE7 {
            margin: 0rem 35.7rem 3.6rem 0.9rem;
            width: calc(100% - 36.6rem);
            height: 39.9rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-vpsf-8XH {
              flex-shrink: 0;
              margin: 0.299rem 3.1rem 0rem 0rem;
              width: 38rem;
              height: 37.8011rem;
              position: relative;

              .rectangle-105-fGK {
                top: 0.0011rem;
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
                height: 37.8rem;
                position: absolute;
                left: 0;
              }
              .mask-group-nLw {
                width: 38rem;
                height: 22.4354rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .bhk-duplex-20000-month-wUj {
                position: absolute;
                left: 1.6rem;
                font-size: 3.2rem;
                color: #3c3c3b;
                width: 24.2rem;
                top: 24.4011rem;
                font-weight: 500;
                line-height: 1.175;
                font-family: Maven Pro, 'Source Sans Pro';
                height: 11.3rem;
              }
            }
            .auto-group-l8v3-QdD {
              flex-shrink: 0;
              width: 39.1rem;
              height: 100%;
              position: relative;

              .rectangle-104-xPq {
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
                height: 37.8rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .rectangle-100-sWo {
                background-size: 99.816% 114.699%;
                background-image: url('REPLACE_IMAGE:349c9542b36980bcc41b521f9f82dd40b1d6fce9');
                width: 39.1rem;
                position: relative;
                left: 0;
                top: 0;
                background-position: -1.0997rem -2.9059rem;
                border-radius: 1rem;
                height: 22.8rem;
              }
              .bhk-tenament-18000-month-Kdh {
                height: 15.1rem;
                left: 1.5rem;
                font-weight: 500;
                line-height: 1.175;
                color: #3c3c3b;
                width: 26.3rem;
                position: absolute;
                top: 24.8rem;
                font-size: 3.2rem;
                font-family: Maven Pro, 'Source Sans Pro';
              }
            }
          }
          .auto-group-odbu-o35 {
            width: calc(100% - 99.3rem);
            align-items: center;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.175;
            justify-content: center;
            border: solid 0.1rem #3c3c3b;
            box-sizing: border-box;
            background-color: #3c3c3b;
            letter-spacing: 0.09rem;
            color: #ffffff;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
            border-radius: 0.5rem;
            margin: 0rem 51.1rem 0rem 48.2rem;
            height: 5.8rem;
            display: flex;
            flex-shrink: 0;
          }
        }
      }
      .rectangle-78-e3h {
        box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 38rem;
        height: 37.8rem;
        position: absolute;
        left: 86.7rem;
        top: 132.9rem;
      }
      .rectangle-103-ZAf {
        background-color: #ffffff;
        border-radius: 1rem;
        width: 38rem;
        height: 37.8rem;
        position: absolute;
        left: 86.3rem;
        top: 177.6rem;
        box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
      }
      .rectangle-101-G55 {
        height: 22.5rem;
        position: relative;
        top: 177.6rem;
        background-size: 124.623% 165.826%;
        background-image: url('REPLACE_IMAGE:cb837b7da50adfbe9c880e37a642574115c6a68b');
        border-radius: 1rem;
        width: 38rem;
        left: 86.3rem;
        background-position: -7.6918rem -8.4926rem;
      }
      .mask-group-vQX {
        width: 38.0813rem;
        height: 22.6354rem;
        position: absolute;
        left: 86.6188rem;
        top: 132.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .bhk-bunglow-22000-month-GUP {
        height: 15.1rem;
        position: absolute;
        top: 157.4rem;
        font-size: 3.2rem;
        font-weight: 500;
        width: 24.9rem;
        left: 88.1rem;
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
      }
      .bhk-vila-30000-month-ajy {
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        left: 87.7rem;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.175;
        width: 22.2rem;
        height: 11.3rem;
        position: absolute;
        top: 202.8rem;
      }
    }
    .footer-UKZ {
      width: 144rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-7nkq-dTM {
        box-sizing: border-box;
        padding: 5rem 21.1rem 5rem 3.1rem;
        width: 100%;
        height: 46.2rem;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        flex-shrink: 0;

        .auto-group-ctjb-L6s {
          width: 51.7rem;
          flex-shrink: 0;
          margin: 0rem 11.1rem 9.5rem 0rem;
          box-sizing: border-box;
          padding-left: 6.7rem;

          .final-ks-6-GWK {
            height: 26.7rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
            width: 100%;
          }
        }
        .group-44-Cum {
          margin: 0rem 19.534rem 12.1rem 0rem;
          width: 22.266rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-vhwx-94K {
            box-sizing: border-box;
            padding: 0rem 0.066rem 2.9rem 0.066rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-1b2p-HAX {
              margin-bottom: 2.3rem;
              width: 15.4rem;
              height: 2.9rem;
              position: relative;
              flex-shrink: 0;

              .stay-in-touch-pw9 {
                height: 2.9rem;
                position: absolute;
                font-weight: 700;
                font-family: Maven Pro, 'Source Sans Pro';
                width: 15.4rem;
                left: 0;
                top: 0;
                font-size: 2.4rem;
                line-height: 1.175;
                color: #0fb3af;
                white-space: nowrap;
              }
              .stay-in-touch-x1m {
                font-family: Maven Pro, 'Source Sans Pro';
                white-space: nowrap;
                left: 0;
                top: 0;
                font-weight: 700;
                color: #0fb3af;
                line-height: 1.175;
                width: 15.4rem;
                height: 2.9rem;
                position: absolute;
                font-size: 2.4rem;
              }
            }
            .group-39-TjD {
              width: 16.5rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;

              .item-012-9638595661-RAF {
                left: 3.4rem;
                font-weight: 400;
                line-height: 1.3625;
                color: #3c3c3b;
                font-family: Open Sans, 'Source Sans Pro';
                height: 2.4rem;
                position: absolute;
                font-size: 1.7rem;
                white-space: nowrap;
                width: 13.1rem;
                top: 0;
              }
              .group-24-5Eo {
                vertical-align: top;
                width: 2rem;
                height: 1.9978rem;
                position: absolute;
                left: 0;
                top: 0.3rem;
                object-fit: contain;
              }
              .group-39-zsZ {
                width: 16.5rem;
                height: 2.4rem;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;

                .group-24-MCK {
                  margin: 0.198rem 1.4rem 0rem 0rem;
                  width: 2rem;
                  height: 1.9978rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-012-9638595661-F2o {
                  color: #3c3c3b;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 1.3625;
                }
              }
            }
          }
          .group-40-NdD {
            margin-bottom: 2.9rem;
            width: 100%;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .infouniletadvisorcom-KoM {
              width: 18.8rem;
              position: absolute;
              left: 3.466rem;
              font-size: 1.7rem;
              line-height: 1.3625;
              white-space: nowrap;
              height: 2.4rem;
              top: 0;
              font-weight: 400;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .group-38-SNB {
              width: 2.0951rem;
              height: 1.5959rem;
              position: absolute;
              left: 0;
              top: 0.5rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-40-Nmd {
              display: flex;
              align-items: center;
              width: 22.266rem;
              height: 2.4rem;
              position: absolute;
              left: 0;
              top: 0;

              .group-38-XeX {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.196rem 1.371rem 0rem 0rem;
                width: 2.0951rem;
                height: 1.5959rem;
              }
              .infouniletadvisorcom-eDM {
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.3625;
                color: #3c3c3b;
              }
            }
          }
          .group-41-N9M {
            margin: 0rem 0.6rem 0rem 0.266rem;
            width: calc(100% - 0.866rem);
            height: 4.7rem;
            position: relative;
            flex-shrink: 0;

            .archibald-st-toowoomba-qld-4350-6r3 {
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              position: absolute;
              font-size: 1.7rem;
              left: 3.2rem;
              top: 0;
              font-family: Open Sans, 'Source Sans Pro';
              width: 18.2rem;
              height: 4.7rem;
            }
            .group-nym {
              left: 0;
              top: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.6199rem;
              height: 2.2rem;
              position: absolute;
            }
            .group-41-M1H {
              left: 0;
              top: 0;
              display: flex;
              align-items: flex-start;
              width: 21.4rem;
              height: 4.7rem;
              position: absolute;

              .group-g3Z {
                flex-shrink: 0;
                margin: 0.1rem 1.58rem 0rem 0rem;
                width: 1.6199rem;
                height: 2.2rem;
                object-fit: contain;
                vertical-align: top;
              }
              .archibald-st-toowoomba-qld-4350-bAX {
                line-height: 1.3625;
                color: #3c3c3b;
                font-family: Open Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 18.2rem;
                font-size: 1.7rem;
                font-weight: 400;
              }
            }
          }
        }
        .group-96-Jaj {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 14.4rem;
          width: 15.2rem;
          align-items: center;
          display: flex;

          .connect-with-rcF {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.175;
            color: #0fb3af;
            font-family: Maven Pro, 'Source Sans Pro';
          }
          .group-95-ziT {
            flex-shrink: 0;
            margin: 0rem 2.2rem 0rem 1rem;
            width: calc(100% - 3.2rem);
            row-gap: 2.9rem;
            display: flex;
            flex-direction: column;

            .auto-group-fyfz-VQK {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.5rem 0rem 0.7rem;
              width: calc(100% - 1.2rem);

              .group-nuD {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 2.2rem 0rem 0rem;
                width: 1rem;
                height: 2rem;
                object-fit: contain;
              }
              .facebook-iH5 {
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.3625;
                color: #3c3c3b;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .auto-group-6j8w-reB {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-Qfh {
                flex-shrink: 0;
                margin: 0rem 1.438rem 0.2rem 0rem;
                width: 2.4615rem;
                height: 2rem;
                object-fit: contain;
                vertical-align: top;
              }
              .twitter-XkK {
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.3625;
                color: #3c3c3b;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .auto-group-aeib-Eud {
              flex-shrink: 0;
              margin-left: 0.2rem;
              width: calc(100% - 0.2rem);
              display: flex;
              align-items: center;

              .group-z87 {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 1.7rem 0rem 0rem;
                width: 2rem;
                height: 2rem;
              }
              .instagram-Kw5 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.3625;
                color: #3c3c3b;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-bg9v-rg7 {
        box-sizing: border-box;
        padding: 2.3rem 9.1rem 0rem 6.9rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rectangle-72-QBq {
          height: 0.1rem;
          background-color: #c4c4c4;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
          width: 100%;
        }
        .krishna-estate-2020-all-rights-reserved-iyD {
          font-weight: 400;
          line-height: 1.3625;
          color: #3c3c3b;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.3rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}
