
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.7rem;
}.home-page-EcX {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  width: 100%;

  .auto-group-zlhd-NTq {
    flex-shrink: 0;
    margin-right: 48.5202rem;
    width: calc(100% - 48.5202rem);
    height: 11.7rem;
    display: flex;
    align-items: center;

    .final-ks-3-6ej {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
      flex-shrink: 0;
      margin-right: 26rem;
      width: 23.5rem;
      height: 11.7rem;
      background-size: 100% 100%;
    }
    .group-5-DUT {
      margin: 2.163rem 0rem 4.7rem 0rem;
      height: calc(100% - 6.8634rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .home-XEF {
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.3rem 0.2rem 0rem;
        font-size: 2.2rem;
        font-weight: 500;
      }
      .buy-properties-Bpb {
        margin-right: 2.7rem;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rent-properties-uEo {
        font-size: 2.2rem;
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 0.4966rem;
        cursor: pointer;
        font-weight: 500;
        flex-shrink: 0;
      }
      .group-172-qPM {
        opacity: 0.1;
        width: 2.0832rem;
        height: 0.9693rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.8673rem;
      }
    }
  }
  .auto-group-uznb-MMh {
    flex-shrink: 0;
    width: 148.0458rem;
    height: 57.2rem;
    position: relative;

    .banner-hRZ {
      position: absolute;
      left: 0;
      top: 4.9559rem;
      object-fit: contain;
      vertical-align: top;
      width: 148.0458rem;
      height: 37.8572rem;
    }
    .rectangle-87-3EX {
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 57.2rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .welcome-to-krishna-estate-AK9 {
      position: absolute;
      left: 39.3rem;
      top: 7.6rem;
      font-weight: 500;
      color: #000000;
      width: 55.5rem;
      font-size: 4.8rem;
      line-height: 1.2575;
      letter-spacing: 0.096rem;
      font-family: Megrim, 'Source Sans Pro';
      white-space: nowrap;
      height: 6.1rem;
    }
  }
  .auto-group-qzm9-F5h {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 3.9rem;
    width: 100%;
    display: flex;

    .auto-group-aviw-jmZ {
      margin: 0rem 5.8rem 14.3rem 6.4rem;
      width: calc(100% - 12.2rem);
      height: 227.4rem;
      position: relative;
      flex-shrink: 0;

      .recently-reviewed-31Z {
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 123.4rem;
        height: 227.4rem;
        position: absolute;
        left: 0;

        .auto-group-hqxk-mCT {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 32.3rem 5.6rem 25.7rem;
          width: 100%;
          align-items: center;

          .recently-reviewed-6Ej {
            margin: 0rem 0rem 2.3rem 7.1rem;
            font-weight: 700;
            letter-spacing: 0.08rem;
            color: #0fb3af;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
            line-height: 1.175;
            font-family: Maven Pro, 'Source Sans Pro';
          }
          .more-then-10000-clients-who-are-happy-with-us-are-you-next-one-ndM {
            text-align: center;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3625;
            letter-spacing: 0.04rem;
            color: #3c3c3b;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .auto-group-76kf-Um5 {
          flex-shrink: 0;
          margin-bottom: 8.2rem;
          width: 100%;
          height: 37.8rem;
          display: flex;
          column-gap: 4.7rem;
          align-items: center;

          .auto-group-8scf-bqh {
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;

            .mask-group-vNB {
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 1.1rem;
            }
            .bhk-duplex-R43 {
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 2.5rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
            }
            .auto-group-ykcw-jaX {
              display: flex;
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;

              .group-65-4Mu {
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-71uz-nYo {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-qxzu-jyq {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-g8P {
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                    }
                    .group-zes {
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                    }
                  }
                  .ratings-8WB {
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                  }
                }
                .group-qvP {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .group-YZu {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .group-5pj {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                }
                .auto-group-fh6p-dbM {
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .group-48-AbH {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 4rem;
                height: 4rem;
                cursor: pointer;
              }
            }
          }
          .auto-group-7nxf-Uby {
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;

            .mask-group-DZZ {
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 1.1rem;
            }
            .bhk-duplex-Yrj {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 2.3rem 3.5rem;
            }
            .auto-group-pil7-UEb {
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;
              align-items: center;

              .group-65-b4K {
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-c1a7-6Ws {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-hxvm-2fR {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.1rem;

                    .item-43-awq {
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                    }
                    .group-vF1 {
                      width: 1.5711rem;
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .ratings-U1d {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .group-oZh {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .group-YXH {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-HUs {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .auto-group-ptp1-Rb5 {
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
              }
              .group-48-m99 {
                vertical-align: top;
                flex-shrink: 0;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
              }
            }
          }
          .auto-group-bwhu-eij {
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;

            .mask-group-M7M {
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 1.1rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
            }
            .bhk-villa-HWo {
              margin: 0rem 0rem 2.3rem 3rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-qqlb-Ppj {
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;

              .group-65-vJs {
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-kl23-SY7 {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-y4ij-PTM {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-jn7 {
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .group-Ty1 {
                      width: 1.5711rem;
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .ratings-p2s {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .group-JCw {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                }
                .group-28w {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .group-aAT {
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .auto-group-apw7-X5h {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-48-SiT {
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 4rem;
              }
            }
          }
        }
        .auto-group-haw3-6Y7 {
          height: 37.8rem;
          display: flex;
          column-gap: 4.7rem;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .auto-group-xldd-EPR {
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);

            .mask-group-meF {
              vertical-align: top;
              margin-bottom: 1.6rem;
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
            }
            .bhk-banglow-iJb {
              margin: 0rem 0rem 1.8rem 1.4rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-bfeo-b7V {
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;
              align-items: center;

              .group-66-7Lj {
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;

                .auto-group-m6md-T9h {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-yf8k-cHV {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-ZTd {
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                    }
                    .group-tVu {
                      width: 1.5711rem;
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .ratings-EJs {
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                  }
                }
                .group-AiK {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-WnB {
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .group-TSX {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-knyd-an3 {
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
              }
              .auto-group-logk-foV {
                width: 4rem;
                height: 4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-whpd-BG3 {
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);

            .mask-group-KNF {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 1.5rem;
              width: 38rem;
              height: 23.7rem;
            }
            .bhk-banglow-4Kq {
              margin: 0rem 0rem 1.9rem 1.1rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-spj9-mzw {
              display: flex;
              align-items: center;
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;

              .group-68-JV5 {
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;

                .auto-group-uizd-SrB {
                  height: 100%;
                  flex-shrink: 0;
                  width: 6.0711rem;

                  .auto-group-jsbd-bj5 {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-kby {
                      line-height: 1.175;
                      color: #0fb3af;
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                    }
                    .group-4Mm {
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                    }
                  }
                  .ratings-NtF {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .group-WjZ {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .group-eqm {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .group-QK9 {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                }
                .auto-group-spvf-kdu {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-69-Htj {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-pzcs-QCf {
            height: 100%;
            box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 38rem;

            .mask-group-jkj {
              width: 38rem;
              height: 23.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 1.5rem;
            }
            .bhk-villa-UiK {
              color: #3c3c3b;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 1.9rem 2.7rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.175;
            }
            .auto-group-4tf9-mxK {
              margin: 0rem 2.7rem 0rem 1.2rem;
              width: calc(100% - 3.9rem);
              height: 4.4rem;
              display: flex;
              align-items: center;

              .group-70-GeB {
                height: 100%;
                display: flex;
                column-gap: 0.7289rem;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 14.8289rem;

                .auto-group-aphh-Cnj {
                  width: 6.0711rem;
                  height: 100%;
                  flex-shrink: 0;

                  .auto-group-6m8j-Mfd {
                    margin-bottom: 0.1rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-43-K6f {
                      font-family: Maven Pro, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 2.4rem;
                      font-weight: 500;
                      line-height: 1.175;
                      color: #0fb3af;
                    }
                    .group-qqh {
                      height: 1.5rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.5711rem;
                    }
                  }
                  .ratings-A7H {
                    color: #7e7e7e;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    letter-spacing: 0.02rem;
                  }
                }
                .group-HBu {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                }
                .group-phd {
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                }
                .group-mMy {
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-fuj9-5dZ {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  width: 1.5711rem;
                  height: 1.5rem;
                }
              }
              .group-71-PPM {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-zmlb-hew {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 6rem 4.2rem 0rem 4.2rem;

          .auto-group-mnnb-2BR {
            width: calc(100% - 97.5rem);
            letter-spacing: 0.09rem;
            font-family: Maven Pro, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            background-color: #3c3c3b;
            border-radius: 0.5rem;
            height: 5.8rem;
            box-sizing: border-box;
            margin: 0rem 47.9rem 6rem 49.6rem;
            font-size: 1.8rem;
            color: #ffffff;
            display: flex;
            align-items: center;
            font-weight: 700;
            line-height: 1.175;
            border: solid 0.1rem #3c3c3b;
            box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
            flex-shrink: 0;
          }
          .recently-reviewed-for-renting-dh1 {
            margin: 0rem 0rem 10.6rem 2.7rem;
            font-size: 4rem;
            letter-spacing: 0.08rem;
            font-family: Maven Pro, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 700;
            line-height: 1.175;
            color: #0fb3af;
            white-space: nowrap;
          }
          .auto-group-gurd-7s5 {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 35.9rem 1.9rem 0rem;
            width: calc(100% - 35.9rem);

            .auto-group-rktw-Ewh {
              margin-right: 2.6rem;
              width: 38.5rem;
              height: 38.8rem;
              position: relative;
              flex-shrink: 0;

              .rectangle-83-jtT {
                left: 0.5rem;
                top: 1rem;
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
                height: 37.8rem;
                position: absolute;
              }
              .mask-group-qAo {
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 37.9813rem;
                height: 23.2354rem;
                position: absolute;
              }
              .bhk-duplex-23000-month-ZsV {
                position: absolute;
                top: 25.1rem;
                line-height: 1.175;
                font-family: Maven Pro, 'Source Sans Pro';
                width: 24rem;
                height: 11.3rem;
                left: 0.4rem;
                font-size: 3.2rem;
                font-weight: 500;
                color: #3c3c3b;
              }
            }
            .auto-group-fuww-r5u {
              margin-top: 0.6rem;
              width: 38rem;
              height: 43.3rem;
              position: relative;
              flex-shrink: 0;

              .rectangle-102-Na3 {
                height: 37.8rem;
                position: absolute;
                left: 0;
                top: 0;
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
              }
              .mask-group-V8s {
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 38rem;
                height: 22.6354rem;
                position: absolute;
              }
              .bhk-buglow-20000-month-qCj {
                height: 18.8rem;
                left: 0.3rem;
                top: 24.5rem;
                line-height: 1.175;
                color: #3c3c3b;
                font-family: Maven Pro, 'Source Sans Pro';
                width: 24.2rem;
                position: absolute;
                font-size: 3.2rem;
                font-weight: 500;
              }
            }
          }
          .auto-group-4ckw-hEw {
            margin: 0rem 34.8rem 3.6rem 0rem;
            width: calc(100% - 34.8rem);
            height: 39.9rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-cttf-PtT {
              height: 37.8011rem;
              position: relative;
              flex-shrink: 0;
              margin: 0.299rem 3.1rem 0rem 0rem;
              width: 38rem;

              .rectangle-105-vNb {
                top: 0.0011rem;
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
                height: 37.8rem;
                position: absolute;
                left: 0;
              }
              .mask-group-S63 {
                width: 38rem;
                height: 22.4354rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .bhk-duplex-20000-month-n9u {
                height: 11.3rem;
                left: 1.6rem;
                top: 24.4011rem;
                font-size: 3.2rem;
                font-weight: 500;
                width: 24.2rem;
                position: absolute;
                line-height: 1.175;
                color: #3c3c3b;
                font-family: Maven Pro, 'Source Sans Pro';
              }
            }
            .auto-group-p3mz-sx3 {
              width: 39.1rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-104-Dm1 {
                background-color: #ffffff;
                border-radius: 1rem;
                width: 38rem;
                height: 37.8rem;
                position: absolute;
                left: 0;
                top: 0;
                box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
              }
              .rectangle-100-YYP {
                left: 0;
                background-image: url('REPLACE_IMAGE:349c9542b36980bcc41b521f9f82dd40b1d6fce9');
                width: 39.1rem;
                height: 22.8rem;
                position: relative;
                top: 0;
                background-size: 99.816% 114.699%;
                background-position: -1.0997rem -2.9059rem;
                border-radius: 1rem;
              }
              .bhk-tenament-18000-month-go1 {
                height: 15.1rem;
                top: 24.8rem;
                color: #3c3c3b;
                font-family: Maven Pro, 'Source Sans Pro';
                font-weight: 500;
                line-height: 1.175;
                width: 26.3rem;
                position: absolute;
                left: 1.5rem;
                font-size: 3.2rem;
              }
            }
          }
          .auto-group-cm1z-kns {
            display: flex;
            margin: 0rem 50.2rem 0rem 47.3rem;
            font-size: 1.8rem;
            color: #ffffff;
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: 0.09rem;
            align-items: center;
            box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
            background-color: #3c3c3b;
            width: calc(100% - 97.5rem);
            height: 5.8rem;
            line-height: 1.175;
            font-family: Maven Pro, 'Source Sans Pro';
            justify-content: center;
            border: solid 0.1rem #3c3c3b;
            box-sizing: border-box;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
        }
      }
      .rectangle-78-A5u {
        background-color: #ffffff;
        border-radius: 1rem;
        width: 38rem;
        height: 37.8rem;
        position: absolute;
        left: 86.7rem;
        top: 132.9rem;
        box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
      }
      .rectangle-103-rzK {
        box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 38rem;
        height: 37.8rem;
        position: absolute;
        left: 86.3rem;
        top: 177.6rem;
      }
      .mask-group-Ys9 {
        top: 132.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 38.0813rem;
        height: 22.6354rem;
        position: absolute;
        left: 86.6188rem;
      }
      .bhk-bunglow-22000-month-qrF {
        width: 24.9rem;
        height: 15.1rem;
        position: absolute;
        font-weight: 500;
        font-family: Maven Pro, 'Source Sans Pro';
        left: 88.1rem;
        top: 157.4rem;
        font-size: 3.2rem;
        line-height: 1.175;
        color: #3c3c3b;
      }
      .bhk-vila-30000-month-jwd {
        height: 11.3rem;
        position: absolute;
        font-size: 3.2rem;
        line-height: 1.175;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
        width: 22.2rem;
        left: 87.7rem;
        top: 202.8rem;
        font-weight: 500;
      }
      .house-5-1-Fuy {
        width: 38rem;
        height: 23.3rem;
        position: absolute;
        left: 86.3rem;
        top: 177.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 1rem 0 0;
      }
    }
    .auto-group-8eph-Zfm {
      width: 38.5rem;
      height: 23rem;
      flex-shrink: 0;
    }
  }
}
