
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 158rem;
}.landing-page-a1M {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;

  .auto-group-uamu-wFD {
    margin-right: 57.2899rem;
    width: calc(100% - 57.2899rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .final-ks-1-Nzj {
      height: 11.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
      flex-shrink: 0;
      margin-right: 73.9462rem;
      width: 24.57rem;
    }
    .navbar-4cf {
      height: 0.5733rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 4.9295rem;
      width: 2.1939rem;
    }
  }
  .auto-group-rtw7-xi3 {
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:f2023b7ca6fe5ce6adb3954e4f7ab7326e474991');
    margin-bottom: 166.8rem;
    width: 100%;
    height: 98.4rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;

    .beautiful-homes-made-3jV {
      font-size: 8rem;
      letter-spacing: -0.201rem;
      font-family: DMSans, 'Source Sans Pro';
      height: 24rem;
      left: 23.7rem;
      top: 20rem;
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      width: 43rem;
      position: absolute;
    }
    .our-homes-are-more-than-structures-theyre-crafted-with-unparalleled-attention-to-detail-u11 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #fafafa;
      font-family: Poppins, 'Source Sans Pro';
      width: 29.7rem;
      left: 24.6rem;
      top: 46.2rem;
      height: 7.2rem;
      position: absolute;
    }
    .auto-group-tnhv-ij9 {
      line-height: 1.5;
      white-space: nowrap;
      display: flex;
      align-items: center;
      background-color: #0fb3af;
      font-weight: 400;
      position: absolute;
      left: 23.9rem;
      top: 55.6rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      width: 28.4rem;
      border-radius: 4rem;
      font-size: 2rem;
      justify-content: center;
      height: 5.4rem;
    }
  }
  .final-ks-8-Kiw {
    margin-left: 17.2rem;
    width: 45rem;
    height: 26.7rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
    flex-shrink: 0;
  }
}
