
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 158rem;
}.landing-page-Woq {
  background-color: #dddddd;
  padding-bottom: 21.5093rem;
  width: 100%;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .auto-group-kzik-u5H {
    padding-bottom: 4.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-weaj-KHR {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 57.2899rem;
      width: calc(100% - 57.2899rem);

      .final-ks-1-RLT {
        background-position: center;
        background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
        flex-shrink: 0;
        margin-right: 73.9462rem;
        width: 24.57rem;
        height: 11.7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .navbar-vHD {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2105rem;
        width: 2.1939rem;
        height: 1.7938rem;
      }
    }
    .auto-group-svtz-qf5 {
      background-image: url('REPLACE_IMAGE:R3MAfjvEuwwwZ7fNrkQhSf');
      margin: 0rem 8.8rem 5rem 5.2rem;
      width: calc(100% - 14rem);
      height: 85rem;
      position: relative;
      background-color: #000000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;

      .our-homes-are-more-than-structures-theyre-crafted-with-unparalleled-attention-to-detail-Lrj {
        font-size: 1.6rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 29.7rem;
        height: 7.2rem;
        top: 46.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fafafa;
        position: absolute;
        left: 19.4rem;
      }
      .rectangle-165-t15 {
        background-color: #0fb3af;
        border-radius: 4rem;
        width: 28.4rem;
        height: 5.4rem;
        cursor: pointer;
        position: absolute;
        left: 18.7rem;
        top: 55.6rem;
      }
      .log-in-to-explore-more-PTd {
        position: absolute;
        left: 22rem;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        height: 3rem;
        top: 57rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        width: 21.5rem;
      }
    }
    .good-hands-4Js {
      margin: 0rem 11.3rem 9.2rem 10.8rem;
      width: calc(100% - 22.1rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .right-side-MYs {
        margin: 0rem 10.066rem 2.293rem 0rem;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-7-PkT {
          flex-shrink: 0;
          margin-bottom: 1.6012rem;
          width: 18.3005rem;
          border-radius: 0.2rem;

          .rectangle-vkP {
            width: 100%;
            height: 0.3988rem;
            background: linear-gradient(90deg, #ffac12 0%, #000000 94.96%);
            border-radius: 0.2rem;
          }
        }
        .youre-in-good-hands-Cjq {
          font-family: DMSans, 'Source Sans Pro';
          margin-bottom: 3.7861rem;
          font-size: 5rem;
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          letter-spacing: -0.1256rem;
          color: #000000;
        }
        .our-homes-are-more-than-structures-theyre-crafted-with-unparalleled-attention-to-detailour-properties-not-only-offer-a-dream-living-space-but-also-promise-a-sound-investment-for-your-futureenjoy-a-hassle-free-homebuying-journey-with-our-dedicated-team-guiding-you-every-step-of-the-way-5Hq {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #060606;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 8.7137rem;
          max-width: 49.6rem;
        }
        .group-5-sUb {
          margin-left: 4.3315rem;
          width: 13.969rem;
          height: 2.1933rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
        }
      }
      .rectangle-nrT {
        width: 76.2339rem;
        height: 65.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 5.7rem 0 0 0;
        flex-shrink: 0;
        margin-bottom: 0rem;
      }
    }
    .section-five-KLb {
      height: 91.3rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.3rem 0rem 6.7rem;
      padding: 10rem 12.2rem 10rem 10rem;
      width: calc(100% - 14rem);
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;

      .left-img-1UK {
        border-radius: 2rem;
        box-sizing: border-box;
        width: 54rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) -0%, rgba(0, 0, 0, 0.5) 67.7%);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:bcf70aa7921ffb9a157e201e987cf090ae66550e');
        flex-shrink: 0;
        margin: 0rem 10rem 1.1rem 0rem;
        padding-top: 45rem;
        overflow: hidden;
        position: relative;

        .rectangle-3-wcs {
          width: 61rem;
          height: 25.2rem;
          background: linear-gradient(2.11deg, #000000 1.36%, rgba(0, 0, 0, 0) 86.69%);
        }
      }
      .rightcontent-9U3 {
        width: 57.8rem;
        height: 100%;
        flex-shrink: 0;

        .why-choose-us-for-the-purchase-of-your-dream-home-uCK {
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #060606;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 5.6rem;
          max-width: 46.7rem;
        }
        .details-1m9 {
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-k1ww-XzP {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 5.6rem;

            .row-1-gcP {
              flex-shrink: 0;
              margin: 0rem 1.3rem 5.6rem 0rem;
              width: calc(100% - 1.3rem);
              height: 9rem;
              display: flex;
              align-items: center;

              .icon-zd5 {
                margin-right: 2rem;
                width: 8rem;
                height: 8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
                flex-shrink: 0;
              }
              .txt-J7y {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                height: 100%;

                .exceptional-craftsmanship--qdh {
                  margin-bottom: 1.2rem;
                  font-size: 2rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #060606;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .our-homes-are-more-than-structures-theyre-crafted-with-unparalleled-attention-to-detail-LqM {
                  max-width: 46.5rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #060606;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .row-2-DeF {
              width: calc(100% - 1.1rem);
              height: 9rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 1.1rem;

              .icon-9no {
                border-radius: 10rem;
                flex-shrink: 0;
                margin-right: 2rem;
                width: 8rem;
                height: 8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .txt-hZR {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .smart-investment--SX1 {
                  line-height: 1.5;
                  color: #060606;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.2rem;
                  font-size: 2rem;
                  font-weight: 600;
                }
                .our-properties-not-only-offer-a-dream-living-space-but-also-promise-a-sound-investment-for-your-future-adD {
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 46.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #060606;
                }
              }
            }
          }
          .row-3-FjM {
            margin-bottom: 5.6rem;
            width: 100%;
            height: 9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-1Td {
              flex-shrink: 0;
              margin-right: 2rem;
              width: 8rem;
              height: 8rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
            }
            .txt-xNs {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              flex-direction: column;

              .effortless-ownership--vab {
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #060606;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .enjoy-a-hassle-free-homebuying-journey-with-our-dedicated-team-guiding-you-every-step-of-the-way-eWb {
                flex-shrink: 0;
                max-width: 47.8rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #060606;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .learn-more-x1V {
            width: 16.2rem;
            line-height: 1.5;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            font-size: 1.6rem;
            display: flex;
            height: 4.8rem;
            position: relative;
            font-weight: 600;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            overflow: hidden;
            background-color: #0c8ce9;
            border-radius: 0.8rem;
          }
        }
      }
    }
  }
  .footer-Nb1 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-d3p5-XTu {
      background-color: #80cee3;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.4rem 25.02rem 4.4rem 18.5rem;
      width: 100%;
      height: 41.5634rem;
      display: flex;
      align-items: center;

      .final-ks-8-DrX {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:9a79ec8dde31eabcdac351339e44553dcbd47bf0');
        flex-shrink: 0;
        margin: 0rem 25.4rem 6.063rem 0rem;
        width: 45rem;
        height: 26.7rem;
        background-size: 100% 100%;
      }
      .group-44-Ydu {
        margin: 3.9rem 8.52rem 9.949rem 0rem;
        width: 22.36rem;
        height: calc(100% - 13.8491rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-fffm-3af {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 0.068rem 2.368rem 0.068rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-evhm-aab {
            position: relative;
            flex-shrink: 0;
            margin-bottom: 1.7781rem;
            width: 15.4rem;
            height: 2.9rem;

            .stay-in-touch-TeP {
              width: 15.4rem;
              position: absolute;
              line-height: 1.175;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.9rem;
              left: 0rem;
              top: 0;
              font-size: 2.4rem;
              font-weight: 700;
              color: #000000;
            }
            .stay-in-touch-mQB {
              height: 2.9rem;
              white-space: nowrap;
              top: 0;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.175;
              color: #000000;
              width: 15.4rem;
              position: absolute;
              left: 0;
              font-family: Maven Pro, 'Source Sans Pro';
            }
          }
          .group-39-6BZ {
            margin-left: 0rem;
            width: 16.5921rem;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .item-012-9638595661-Qxw {
              width: 13.1rem;
              position: absolute;
              font-size: 1.7rem;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              height: 2.4rem;
              left: 3.4921rem;
              top: 0;
              font-weight: 400;
              white-space: nowrap;
            }
            .group-24-WWB {
              height: 1.7973rem;
              position: absolute;
              left: 0;
              top: 0.2699rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.0541rem;
            }
            .group-39-yef {
              top: 0;
              display: flex;
              align-items: center;
              width: 16.5921rem;
              height: 2.4rem;
              position: absolute;
              left: -0rem;

              .group-24-Tpj {
                flex-shrink: 0;
                margin: 0rem 1.438rem 0.063rem 0rem;
                width: 2.0541rem;
                height: 1.7973rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item-012-9638595661-AUF {
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.3625;
                color: #3c3c3b;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .group-40-DSX {
          margin-bottom: 2.3681rem;
          width: 100%;
          height: 2.4rem;
          position: relative;
          flex-shrink: 0;

          .infouniletadvisorcom-ZmH {
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 1.3625;
            color: #3c3c3b;
            width: 18.8rem;
            height: 2.4rem;
            position: absolute;
            left: 3.56rem;
            top: 0;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-38-RYb {
            top: 0.4498rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.1519rem;
            height: 1.4358rem;
            position: absolute;
            left: 0;
          }
          .group-40-uyZ {
            width: 22.36rem;
            height: 2.4rem;
            position: absolute;
            left: -0rem;
            top: 0;
            display: flex;
            align-items: center;

            .group-38-DzF {
              flex-shrink: 0;
              margin: 0rem 1.408rem 0.065rem 0rem;
              width: 2.1519rem;
              height: 1.4358rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .infouniletadvisorcom-97D {
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-41-dYB {
          height: 4.7rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0rem 0.273rem;
          width: calc(100% - 0.8732rem);

          .archibald-st-toowoomba-qld-4350-Myy {
            left: 3.2867rem;
            top: 0;
            position: absolute;
            height: 4.7rem;
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #3c3c3b;
            font-family: Open Sans, 'Source Sans Pro';
            width: 18.2rem;
          }
          .group-SVd {
            height: 1.9792rem;
            position: absolute;
            left: 0;
            top: 0.09rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.6638rem;
          }
          .group-41-abq {
            display: flex;
            align-items: flex-start;
            width: 21.4867rem;
            height: 4.7rem;
            position: absolute;
            left: -0rem;
            top: 0;

            .group-8NT {
              height: 1.9792rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.09rem 1.623rem 0rem 0rem;
              width: 1.6638rem;
            }
            .archibald-st-toowoomba-qld-4350-EwH {
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 18.2rem;
              font-size: 1.7rem;
              font-weight: 400;
            }
          }
        }
      }
      .group-96-ZTm {
        margin-bottom: 8.3957rem;
        width: 15.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .connect-with-Uqd {
          line-height: 1.175;
          color: #000000;
          font-family: Maven Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.7781rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .group-95-Pxb {
          margin: 0rem 2.067rem 0rem 1.027rem;
          width: calc(100% - 3.0942rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-qxlb-JZm {
            width: calc(100% - 1.2189rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.5rem 2.368rem 0.719rem;

            .group-qZh {
              flex-shrink: 0;
              margin: 0rem 2.26rem 0.061rem 0rem;
              width: 1.0271rem;
              height: 1.7993rem;
              object-fit: contain;
              vertical-align: top;
            }
            .facebook-MY3 {
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
            }
          }
          .auto-group-n56o-6kX {
            margin: 0rem 2.5rem 2.368rem 0rem;
            width: calc(100% - 2.5rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-39y {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.09rem 1.477rem 0rem 0rem;
              width: 2.5283rem;
              height: 1.7993rem;
              object-fit: contain;
            }
            .twitter-Nxw {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
          .auto-group-beeb-8hD {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 0.2055rem;
            width: calc(100% - 0.2055rem);

            .group-EkF {
              margin: 0rem 1.746rem 0.061rem 0rem;
              width: 2.0542rem;
              height: 1.7993rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .instagram-Z1q {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .auto-group-ie3r-Gwq {
      box-sizing: border-box;
      padding: 3.329rem 6.607rem 0rem 21.144rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-72-1eX {
        background-color: #af2b2b;
        flex-shrink: 0;
        margin-bottom: 3.1179rem;
        width: 100%;
        height: 0.09rem;
      }
      .auto-group-b7jp-kMD {
        margin: 0rem 55.193rem 0rem 47.37rem;
        width: calc(100% - 102.5624rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--tCX {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.391rem 1.387rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #3c3c3b;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .krishna-estate-2020-all-rights-reserved-ceK {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.3907rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #3c3c3b;
        }
      }
    }
  }
}
