
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.6rem;
}.log-in-page-ZKm {
  background-color: #dddddd;
  width: 100%;
  height: 110.1rem;
  position: relative;
  overflow: hidden;

  .rectangle-162-Vz7 {
    border-radius: 2.2rem;
    width: 71.8rem;
    height: 81.15rem;
    position: absolute;
    left: 37.2rem;
    top: 0.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .log-in-cJ3 {
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.2989rem;
    width: 59.6rem;
    top: 27.1rem;
    left: 43.8rem;
    display: flex;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 42.4rem;
    position: absolute;

    .group-128-gx7 {
      flex-shrink: 0;
      margin-bottom: 1.418rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;

      .log-in-please-Ruh {
        font-weight: 700;
        line-height: 1.175;
        letter-spacing: 0.08rem;
        flex-shrink: 0;
        margin: 0rem 0.486rem 4.69rem 0rem;
        font-size: 4rem;
        white-space: nowrap;
        color: #3c3c3b;
        font-family: Maven Pro, 'Source Sans Pro';
      }
      .group-126-i87 {
        border-radius: 0.5rem;
        margin-bottom: 2.0174rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0rem;
        align-items: center;
        flex-shrink: 0;

        .auto-group-xk4t-eXZ {
          margin-bottom: 3.7403rem;
          width: 100%;
          height: 6.5136rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-102-BXV {
            box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
            background-color: #3c3c3b;
            border-radius: 0.5rem;
            height: 6.4762rem;
            left: 0;
            top: 0;
            border: solid 0.1rem #3c3c3b;
            box-sizing: border-box;
            width: 59.6rem;
            position: absolute;
          }
          .rectangle-103-Vq1 {
            height: 6.4992rem;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.5rem;
            width: 59.0975rem;
            position: absolute;
            left: 0.5025rem;
            top: 0.0144rem;
            border: solid 0.1rem #d9d9d9;
          }
          .enter-your-email-address-phone-number-here-np7 {
            height: 2.4rem;
            left: 2.0446rem;
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #788079;
            width: 38.9rem;
            position: absolute;
            top: 2.0508rem;
            letter-spacing: 0.034rem;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-9trz-QqV {
          border: solid 0.1rem #3c3c3b;
          flex-shrink: 0;
          background-color: #3c3c3b;
          border-radius: 0.5rem;
          margin-right: 0rem;
          width: calc(100% - 0rem);
          height: 6.4762rem;
          position: relative;
          box-sizing: border-box;
          box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);

          .rectangle-105-9HH {
            height: 6.4762rem;
            left: 0.5111rem;
            border-radius: 0.5rem;
            width: 59.0888rem;
            position: absolute;
            top: 0;
            border: solid 0.1rem #d9d9d9;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .enter-your-password-here-osd {
            position: absolute;
            top: 1.2952rem;
            font-weight: 400;
            letter-spacing: 0.034rem;
            color: #788079;
            font-family: Open Sans, 'Source Sans Pro';
            width: 21.5rem;
            height: 2.4rem;
            left: 2.0446rem;
            font-size: 1.7rem;
            line-height: 1.3625;
            white-space: nowrap;
          }
        }
      }
      .forgot-password-nUf {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.977rem 2.062rem 0rem;
        cursor: pointer;
        font-weight: 600;
        color: #3c3c3b;
        font-size: 1.4rem;
        line-height: 1.3625;
        letter-spacing: 0.028rem;
      }
      .group-127-5Cs {
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.09rem;
        align-items: center;
        box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
        border-radius: 0.5rem;
        margin: 0rem 22.979rem 0rem 21.9rem;
        cursor: pointer;
        display: flex;
        border: solid 0.1rem #0fb3af;
        box-sizing: border-box;
        background-color: #0fb3af;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.175;
        color: #ffffff;
        flex-shrink: 0;
        width: calc(100% - 44.8789rem);
        height: 5.1809rem;
      }
    }
    .auto-group-i7ub-eQP {
      margin: 0rem 18.6rem 0rem 19.1rem;
      width: calc(100% - 37.7rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .dont-have-an-account-9rw {
        letter-spacing: 0.028rem;
        color: #3c3c3b;
        white-space: nowrap;
        margin: 0.001rem 0.15rem 0rem 0rem;
        font-weight: 600;
        line-height: 1.3625;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-family: Open Sans, 'Source Sans Pro';
        display: flex;

        .dont-have-an-account-9rw-sub-0 {
          letter-spacing: 0.028rem;
          color: rgba(0, 0, 0, 0.349999994);
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.3625;
        }
        .dont-have-an-account-9rw-sub-1 {
        }
      }
      .line-3-cXZ {
        margin-right: 0.25rem;
        width: 0.1rem;
        height: 2.3022rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .sign-up-9XV {
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.028rem;
        color: #000000;
        white-space: nowrap;
        margin-top: 0.0011rem;
      }
    }
  }
  .item-1600063865945-1-ymR {
    vertical-align: top;
    width: 71.8rem;
    height: 20rem;
    position: absolute;
    left: 37.2rem;
    top: 3.2rem;
    object-fit: cover;
  }
  .unlock-the-door-to-your-dream-kQo {
    position: absolute;
    left: 48.3rem;
    font-size: 3.2rem;
    line-height: 1.4525;
    width: 32.2rem;
    top: 8.1rem;
    font-weight: 400;
    color: #3c3c3b;
    font-family: Kaushan Script, 'Source Sans Pro';
    height: 9.3rem;
  }
}
