
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.7rem;
}.sign-up-page-tas {
  width: 100%;
  height: 107.9rem;
  position: relative;
  overflow: hidden;
  background-color: #dddddd;

  .rectangle-163-EPq {
    left: 34rem;
    top: 0;
    background-color: rgba(15, 179, 175, 0.3600000143);
    border-radius: 0.8rem;
    width: 70.7rem;
    height: 88.3rem;
    position: absolute;
  }
  .already-have-an-account-Xdq {
    letter-spacing: 0.028rem;
    font-family: Open Sans, 'Source Sans Pro';
    align-items: baseline;
    width: 18.1rem;
    cursor: pointer;
    left: 57rem;
    font-weight: 600;
    top: 65.2rem;
    display: flex;
    position: absolute;
    font-size: 1.4rem;
    color: #3c3c3b;
    height: 2rem;
    line-height: 1.3625;
    white-space: nowrap;

    .already-have-an-account-Xdq-sub-0 {
      color: #5e5e5c;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.3625;
      letter-spacing: 0.028rem;
    }
    .already-have-an-account-Xdq-sub-1 {
    }
  }
  .sign-up-Rcj {
    height: 39.5537rem;
    position: absolute;
    left: 39.5rem;
    top: 25.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 59.6rem;

    .sign-up-now-wqy {
      margin: 0rem 0.651rem 1.545rem 0rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.175;
      letter-spacing: 0.08rem;
      color: #3c3c3b;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-1rfm-Fbm {
      position: relative;
      box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
      background-color: #3c3c3b;
      border-radius: 0.5rem;
      flex-shrink: 0;
      width: 100%;
      height: 4.3071rem;
      border: solid 0.1rem #3c3c3b;
      box-sizing: border-box;
      margin-bottom: 2.5125rem;

      .rectangle-103-oNP {
        border: solid 0.1rem #d9d9d9;
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 59.0889rem;
        height: 4.3071rem;
        position: absolute;
        left: 0.5111rem;
        top: 0;
        box-sizing: border-box;
      }
      .full-name-here-TSw {
        left: 7.4374rem;
        top: 1.5125rem;
        font-weight: 400;
        letter-spacing: 0.034rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 12.3rem;
        height: 2.4rem;
        line-height: 1.3625;
        color: #b8b7b7;
        position: absolute;
        font-size: 1.7rem;
      }
    }
    .auto-group-yxvb-71h {
      box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
      width: 100%;
      position: relative;
      border: solid 0.1rem #3c3c3b;
      box-sizing: border-box;
      background-color: #3c3c3b;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 2.5125rem;
      height: 4.3071rem;

      .rectangle-105-Spf {
        width: 59.0889rem;
        height: 4.3071rem;
        background-color: #ffffff;
        box-sizing: border-box;
        border-radius: 0.5rem;
        position: absolute;
        left: 0.5111rem;
        top: 0;
        border: solid 0.1rem #d9d9d9;
      }
      .enter-your-email-address-jom {
        left: 8.1784rem;
        font-size: 1.7rem;
        line-height: 1.3625;
        letter-spacing: 0.034rem;
        color: #b8b7b7;
        width: 21.1rem;
        position: absolute;
        font-weight: 400;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        top: 1.1485rem;
      }
    }
    .auto-group-eul3-9cb {
      border-radius: 0.5rem;
      flex-shrink: 0;
      width: 100%;
      height: 4.3071rem;
      border: solid 0.1rem #3c3c3b;
      box-sizing: border-box;
      margin-bottom: 2.5125rem;
      position: relative;
      box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
      background-color: #3c3c3b;

      .rectangle-109-u5y {
        box-sizing: border-box;
        width: 59.0889rem;
        position: absolute;
        top: 0;
        border: solid 0.1rem #d9d9d9;
        height: 4.3071rem;
        left: 0.5111rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
      }
      .enter-your-password-nQf {
        height: 2.4rem;
        position: absolute;
        left: 8.1784rem;
        top: 1.3639rem;
        font-weight: 400;
        line-height: 1.3625;
        width: 17.6rem;
        font-size: 1.7rem;
        letter-spacing: 0.034rem;
        color: #b8b7b7;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-jfpu-3Lb {
      margin-bottom: 2.8714rem;
      width: 100%;
      border: solid 0.1rem #3c3c3b;
      box-sizing: border-box;
      box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
      height: 4.3071rem;
      position: relative;
      background-color: #3c3c3b;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .rectangle-110-PQT {
        border: solid 0.1rem #d9d9d9;
        left: 0.5111rem;
        height: 4.3071rem;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 59.0889rem;
      }
      .conform-password-v9V {
        font-size: 1.7rem;
        font-weight: 400;
        width: 15.7rem;
        height: 2.4rem;
        left: 8.1784rem;
        letter-spacing: 0.034rem;
        color: #b8b7b7;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 1.1486rem;
        line-height: 1.3625;
      }
    }
    .group-127-jcj {
      width: calc(100% - 44.8789rem);
      color: #ffffff;
      line-height: 1.175;
      border: solid 0.1rem #0fb3af;
      margin: 0rem 22.388rem 2.154rem 22.491rem;
      box-sizing: border-box;
      height: 3.4457rem;
      font-weight: 700;
      background-color: #0fb3af;
      border-radius: 0.5rem;
      flex-shrink: 0;
      padding: 0.217rem 3.812rem 0.217rem 4.209rem;
      cursor: pointer;
      white-space: nowrap;
      box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
      font-size: 1.8rem;
      letter-spacing: 0.09rem;
      font-family: Maven Pro, 'Source Sans Pro';
    }
    .rectangle-109-tP9 {
      height: 0.0718rem;
      background-color: #c4c4c4;
      flex-shrink: 0;
      width: 100%;
    }
  }
  .item-1600063865945-2-qpB {
    top: 2.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 70.7rem;
    height: 19.8rem;
    position: absolute;
    left: 34rem;
  }
  .unlock-the-door-to-your-dream-Soy {
    left: 44.4rem;
    top: 7.3rem;
    line-height: 1.4525;
    width: 32.2rem;
    position: absolute;
    font-size: 3.2rem;
    font-weight: 400;
    color: #3c3c3b;
    font-family: Kaushan Script, 'Source Sans Pro';
    height: 9.3rem;
  }
  .log-in-LuM {
    height: 2rem;
    line-height: 1.3618164062;
    letter-spacing: 0.028rem;
    color: #000000;
    cursor: pointer;
    top: 65.2rem;
    font-weight: 600;
    align-items: baseline;
    width: 4.7rem;
    display: flex;
    position: absolute;
    left: 75.2rem;
    font-size: 1.4rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;

    .log-in-LuM-sub-0 {
      color: #3c3c3b;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.3625;
      letter-spacing: 0.028rem;
    }
    .log-in-LuM-sub-1 {
      font-weight: 600;
      line-height: 1.3625;
      letter-spacing: 0.028rem;
      color: #262617;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 1.4rem;
    }
  }
  .line-2-CKH {
    left: 75rem;
    top: 65.1rem;
    background-color: #000000;
    width: 0.1rem;
    height: 2rem;
    position: absolute;
  }
}
