
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140.6rem;
}.f0r-buying-view-hVH {
  box-sizing: border-box;
  padding-bottom: 25.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 {
  margin: 0rem 13.5rem 15rem 0rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .final-ks-4-61d {
  margin-right: 7.9rem;
  width: 23.5rem;
  height: 11.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/final-ks-4-bg.png');
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy {
  margin-bottom: 0.5057rem;
  width: 98.1rem;
  height: 8.2696rem;
  position: relative;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .navbar-LwZ {
  width: 98.1rem;
  height: 4.1943rem;
  position: absolute;
  left: 0;
  top: 4.0753rem;
  display: flex;
  align-items: flex-end;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .navbar-LwZ .group-78-fD9 {
  margin-right: 87.1666rem;
  opacity: 0.1;
  width: 1.8334rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .navbar-LwZ .rectangle-10-Puq {
  margin-bottom: 0.1943rem;
  width: 9.1rem;
  height: 4rem;
  cursor: pointer;
  border: solid 0.1rem #0fb3af;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
  background-color: #0fb3af;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX {
  width: 45.8204rem;
  height: 6.7174rem;
  position: absolute;
  left: 14.5rem;
  top: 0;
  display: flex;
  align-items: center;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX .auto-group-tpwm-nwy {
  box-sizing: border-box;
  padding: 3.917rem 3.79rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX .auto-group-tpwm-nwy .group-3-voH {
  margin: 0rem 4.563rem 0.2rem 0rem;
  width: 6.3673rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX .auto-group-tpwm-nwy .buy-properties-REF {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX .auto-group-7g6t-iDM {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX .auto-group-7g6t-iDM .group-172-53u {
  margin: 0rem 0.583rem 3.665rem 0rem;
  opacity: 0.1;
  width: 2.1481rem;
  height: 0.4521rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .group-4-rYX .auto-group-7g6t-iDM .rent-properties-Zjm {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-dtuh-PN7 .auto-group-hp2f-byy .back-uHq {
  width: 6.3rem;
  height: 3.3rem;
  position: absolute;
  left: 90.545rem;
  top: 4.2014rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.175;
  color: #fafafa;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum {
  margin-left: 1.1rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .mask-group-wEX {
  margin-right: 2rem;
  width: 65.9rem;
  height: 39rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH {
  margin-top: 0.6rem;
  width: 72rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m {
  box-sizing: border-box;
  padding: 0rem 1.5rem 3.2rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-chdh-kBy {
  margin-bottom: 2.8rem;
  box-sizing: border-box;
  padding: 0 2.2rem;
  width: 55.9rem;
  height: 5rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #ffffff;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-14.png');
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR {
  width: 55.9rem;
  height: 13.3rem;
  position: relative;
  flex-shrink: 0;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .rectangle-10-NUF {
  width: 27.7rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .l-V35 {
  width: 14.1rem;
  height: 3.8rem;
  position: absolute;
  left: 6.8rem;
  top: 0.6rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #fafafa;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .rectangle-12-CTH {
  width: 55.4rem;
  height: 5rem;
  position: absolute;
  left: 0.5rem;
  top: 8.3rem;
  border: solid 0.1rem #0fb3af;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
  background-color: #0fb3af;
  border-radius: 0.5rem;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .rectangle-16-eq5 {
  width: 27.7rem;
  height: 5rem;
  position: absolute;
  left: 28.2rem;
  top: 0;
  border: solid 0.1rem #0fb3af;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
  background-color: #0fb3af;
  border-radius: 0.5rem;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .view-more-k7R {
  width: 15.9rem;
  height: 3.8rem;
  position: absolute;
  left: 30.9rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #ffffff;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .group-49-rAT {
  width: 3.9886rem;
  height: 12.1542rem;
  position: absolute;
  left: 51.3rem;
  top: 0.6057rem;
  object-fit: contain;
  vertical-align: top;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .auto-group-fjw5-c5m .auto-group-vdt3-qDR .contact-us-for-more-details-mHR {
  width: 41.3rem;
  height: 3.8rem;
  position: absolute;
  left: 7.1rem;
  top: 8.9rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #ffffff;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.f0r-buying-view-hVH .auto-group-4yy5-aum .auto-group-mcnj-rsH .unlock-the-door-to-your-dreams-find-your-perfect-home-with-us-your-journey-to-homeownership-begins-here-Rcs {
  max-width: 72rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #3c3c3b;
  font-family: Kaushan Script, 'Source Sans Pro';
  flex-shrink: 0;
}
