
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 145.1rem;
}.for-buy-properties-64P {
  box-sizing: border-box;
  padding-right: 12.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 68.2rem);
  grid-auto-rows: 149.932rem;
  background-color: #dddddd;
}
.for-buy-properties-64P .buy-properties-ynP {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.1rem;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo {
  width: 118rem;
  height: 189.1593rem;
  position: relative;
}
.for-buy-properties-64P .group-173-ggo .rectangle-80-po1 {
  width: 36.1523rem;
  height: 38.1178rem;
  position: absolute;
  left: 80.6rem;
  top: 86.2rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf {
  width: 118rem;
  height: 189.1593rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB {
  margin-bottom: 4.7637rem;
  width: 100%;
  height: 38.8126rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj {
  margin-right: 4.2629rem;
  box-sizing: border-box;
  padding-bottom: 3.2624rem;
  width: 36.3371rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .mask-group-V1y {
  margin-bottom: 1.8654rem;
  width: 36.3371rem;
  height: 24.0214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .bhk-duplex-ccP {
  margin: 0rem 0rem 2.323rem 1.757rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 {
  margin: 0rem 2.582rem 0rem 1.147rem;
  width: calc(100% - 3.7293rem);
  height: 4.4407rem;
  display: flex;
  align-items: center;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 {
  margin-right: 14.18rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .auto-group-cip1-ahd {
  margin-right: 0.697rem;
  width: 5.8054rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .auto-group-cip1-ahd .auto-group-ag9d-7Sf {
  margin-bottom: 0.6407rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .auto-group-cip1-ahd .auto-group-ag9d-7Sf .item-43-qtT {
  margin-right: 1.4031rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .auto-group-cip1-ahd .auto-group-ag9d-7Sf .group-m1R {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .auto-group-cip1-ahd .ratings-HVZ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .group-cXq {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .group-9Gs {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .group-syZ {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-65-qV9 .auto-group-5ndm-cRM {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-cyl7-xnj .auto-group-rswh-vd5 .group-48-wyR {
  margin-top: 0.019rem;
  width: 3.825rem;
  height: 4.0542rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 {
  margin: 0rem 4.694rem 0.013rem 0rem;
  width: 36.3686rem;
  height: calc(100% - 0.0126rem);
  position: relative;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .bhk-duplex-N39 {
  width: 13.1rem;
  height: 2.4rem;
  position: absolute;
  left: 1.7151rem;
  top: 26.6329rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .rectangle-18-sEo {
  width: 35.2rem;
  height: 38.3rem;
  position: absolute;
  left: 0.2rem;
  top: 0.5rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB {
  width: 14.6028rem;
  height: 4.4407rem;
  position: absolute;
  left: 1.3789rem;
  top: 31.1095rem;
  display: flex;
  align-items: flex-start;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .auto-group-4yls-zCw {
  margin-right: 0.697rem;
  width: 5.8054rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .auto-group-4yls-zCw .auto-group-uipf-v6b {
  margin-bottom: 0.6407rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .auto-group-4yls-zCw .auto-group-uipf-v6b .item-43-s1q {
  margin-right: 1.4031rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .auto-group-4yls-zCw .auto-group-uipf-v6b .group-zcF {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .auto-group-4yls-zCw .ratings-Xs5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .group-dQK {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .group-wA7 {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .group-4kX {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-65-mLB .auto-group-urqf-Q3h {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .group-48-jbm {
  width: 3.825rem;
  height: 4.0542rem;
  position: absolute;
  left: 30.1618rem;
  top: 31.3122rem;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .mask-group-G5u {
  width: 36.3686rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-k8lf-eN3 .bhk-duplex-oLj {
  width: 13.1rem;
  height: 2.4rem;
  position: absolute;
  left: 2.0167rem;
  top: 26.8339rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj {
  box-sizing: border-box;
  padding-bottom: 3.2624rem;
  width: 36.3371rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .mask-group-S8o {
  margin-bottom: 1.9257rem;
  width: 36.3371rem;
  height: 24.0214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .bhk-villa-No9 {
  margin: 0rem 0rem 2.262rem 1.147rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV {
  margin: 0rem 2.582rem 0rem 1.147rem;
  width: calc(100% - 3.7293rem);
  height: 4.4407rem;
  display: flex;
  align-items: center;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ {
  margin-right: 14.18rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .auto-group-r9o5-viB {
  margin-right: 0.6971rem;
  width: 5.8053rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .auto-group-r9o5-viB .auto-group-gtkf-GX9 {
  margin-bottom: 0.6407rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .auto-group-r9o5-viB .auto-group-gtkf-GX9 .item-43-DSP {
  margin-right: 1.403rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .auto-group-r9o5-viB .auto-group-gtkf-GX9 .group-x95 {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .auto-group-r9o5-viB .ratings-toR {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .group-RYT {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .group-Z8s {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .group-gjH {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-65-odZ .auto-group-r2m5-2HM {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-oec7-2eB .auto-group-f8sy-6aj .auto-group-fskm-tmV .group-48-9My {
  margin-top: 0.019rem;
  width: 3.825rem;
  height: 4.0542rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD {
  margin-bottom: 60.1545rem;
  width: 100%;
  height: 81.3743rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod {
  margin-right: 4.4629rem;
  width: 36.3371rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 {
  margin-bottom: 4.7492rem;
  box-sizing: border-box;
  padding-bottom: 2.3888rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .mask-group-pMd {
  margin-bottom: 1.9258rem;
  width: 36.3371rem;
  height: 24.0214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .bhk-banglow-ZKD {
  margin: 0rem 0rem 0.277rem 1.147rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao {
  margin: 0rem 2.582rem 0rem 0.247rem;
  width: calc(100% - 2.8293rem);
  height: 7.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf {
  margin: 1.486rem 4.35rem 1.374rem 0rem;
  height: calc(100% - 2.8594rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .auto-group-gjr9-X9Z {
  margin-right: 0.697rem;
  width: 5.8054rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .auto-group-gjr9-X9Z .auto-group-2gvs-sUK {
  margin-bottom: 0.6406rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .auto-group-gjr9-X9Z .auto-group-2gvs-sUK .item-43-p8f {
  margin-right: 1.4031rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .auto-group-gjr9-X9Z .auto-group-2gvs-sUK .group-Lco {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .auto-group-gjr9-X9Z .ratings-4oh {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .group-c4X {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .group-LmD {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .group-gKH {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .group-66-nxf .auto-group-gby9-pAb {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-fpyz-tD5 .auto-group-5iw3-sao .auto-group-3ggf-Z8B {
  width: 14.5553rem;
  height: 7.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT {
  box-sizing: border-box;
  padding: 25.942rem 0.2rem 3.096rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .bhk-banglow-bKm {
  margin: 0rem 0rem 1.7rem 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D {
  margin-right: 2.9122rem;
  width: calc(100% - 2.9122rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb {
  margin: 0rem 14.597rem 0.734rem 0rem;
  height: 4.4406rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .auto-group-mj8o-aSb {
  margin-right: 0.697rem;
  width: 5.8054rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .auto-group-mj8o-aSb .auto-group-detz-Xsd {
  margin-bottom: 0.6406rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .auto-group-mj8o-aSb .auto-group-detz-Xsd .item-43-V3m {
  margin-right: 1.4031rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .auto-group-mj8o-aSb .auto-group-detz-Xsd .group-DEf {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .auto-group-mj8o-aSb .ratings-kVV {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .group-6JT {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .group-2hu {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .group-AZD {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .group-67-rWb .auto-group-enum-tVD {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-cmhh-wod .auto-group-aigp-TUT .auto-group-f4et-73D .auto-group-qcfy-cw1 {
  width: 3.825rem;
  height: 4.0542rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu {
  margin-right: 3.4314rem;
  width: 36.3686rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 {
  margin: 0rem 0rem 4.711rem 0.031rem;
  box-sizing: border-box;
  padding-bottom: 3.303rem;
  width: calc(100% - 0.0314rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-6fxk-nj1 {
  margin-bottom: 1.9258rem;
  box-sizing: border-box;
  padding: 3.303rem 2.169rem 3.303rem 24.369rem;
  width: 100%;
  height: 24.0214rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-M91.png');
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-6fxk-nj1 .frame-3-W9D {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .bhk-banglow-SHm {
  margin: 0rem 0rem 2.262rem 1.147rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf {
  margin: 0rem 2.582rem 0rem 1.147rem;
  width: calc(100% - 3.7293rem);
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX {
  margin-right: 14.1801rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .auto-group-v8b1-SBH {
  margin-right: 0.697rem;
  width: 5.8053rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .auto-group-v8b1-SBH .auto-group-ughd-PMR {
  margin-bottom: 0.6rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .auto-group-v8b1-SBH .auto-group-ughd-PMR .item-43-LnT {
  margin-right: 1.403rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .auto-group-v8b1-SBH .auto-group-ughd-PMR .group-sGb {
  margin-bottom: 0.2rem;
  width: 1.5023rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .auto-group-v8b1-SBH .ratings-cEB {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .group-Ydd {
  margin: 0.7rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .group-UGP {
  margin: 0.7rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .group-CTH {
  margin: 0.7rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-68-5rX .auto-group-2osf-vu5 {
  margin-top: 0.7rem;
  width: 1.5023rem;
  height: 1.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-hxhd-sM9 .auto-group-gevd-AUf .group-69-Te7 {
  margin-top: 0.0597rem;
  width: 3.825rem;
  height: 4.0542rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB {
  margin-right: 0.0239rem;
  width: calc(100% - 0.0239rem);
  height: 38.3506rem;
  position: relative;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .rectangle-81-gFy {
  width: 36.3371rem;
  height: 38.3126rem;
  position: absolute;
  left: 0.0075rem;
  top: 0.038rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .bhk-banglow-as9 {
  width: 14.7rem;
  height: 2.4rem;
  position: absolute;
  left: 1.8rem;
  top: 24.7797rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .ellipse-10-VUK {
  width: 3.825rem;
  height: 4.0542rem;
  position: absolute;
  left: 29rem;
  top: 31.4rem;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .vector-oV1 {
  width: 1.8008rem;
  height: 1.3135rem;
  position: absolute;
  left: 29.9723rem;
  top: 32.7732rem;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP {
  width: 14.6029rem;
  height: 4.4406rem;
  position: absolute;
  left: 0.6rem;
  top: 28.3797rem;
  display: flex;
  align-items: flex-start;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .auto-group-dzqf-qwV {
  margin-right: 0.697rem;
  width: 5.8054rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .auto-group-dzqf-qwV .auto-group-jlu7-C1M {
  margin-bottom: 0.6406rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .auto-group-dzqf-qwV .auto-group-jlu7-C1M .item-43-wjd {
  margin-right: 1.4031rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .auto-group-dzqf-qwV .auto-group-jlu7-C1M .group-5L3 {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .auto-group-dzqf-qwV .ratings-1zP {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .group-kh5 {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .group-gaj {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .group-1su {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .group-68-8GP .auto-group-h3dr-kab {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-5lwj-vRu .auto-group-xvvb-wpB .house-1-1-gj9 {
  width: 36.3rem;
  height: 21.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem 1rem 0 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT {
  width: 37.4rem;
  height: 80.378rem;
  position: relative;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .rectangle-79-8r3 {
  width: 36.3371rem;
  height: 38.3126rem;
  position: absolute;
  left: 1.0629rem;
  top: 0;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .bhk-villa-Pmy {
  width: 10.6rem;
  height: 2.4rem;
  position: absolute;
  left: 2.2104rem;
  top: 25.9472rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq {
  width: 14.6028rem;
  height: 4.4406rem;
  position: absolute;
  left: 2.2104rem;
  top: 30.6096rem;
  display: flex;
  align-items: flex-start;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .auto-group-ddif-CzK {
  margin-right: 0.6971rem;
  width: 5.8053rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .auto-group-ddif-CzK .auto-group-dxfq-YYP {
  margin-bottom: 0.6406rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .auto-group-ddif-CzK .auto-group-dxfq-YYP .item-43-hRH {
  margin-right: 1.403rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .auto-group-ddif-CzK .auto-group-dxfq-YYP .group-q1h {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .auto-group-ddif-CzK .ratings-mR9 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .group-6yD {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .group-SGP {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .group-ATH {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-70-tTq .auto-group-jjdu-tPH {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-71-caB {
  width: 4.7318rem;
  height: 49.7684rem;
  position: absolute;
  left: 30.9932rem;
  top: 30.6096rem;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .mask-group-wMZ {
  width: 36.3371rem;
  height: 24.0214rem;
  position: absolute;
  left: 1.0629rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .bhk-banglow-5if {
  width: 14.7rem;
  height: 2.4rem;
  position: absolute;
  left: 1.7rem;
  top: 67.0237rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .image-13-PzF {
  width: 36.2rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 42.6237rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem 1rem 0 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV {
  width: 14.6028rem;
  height: 4.4406rem;
  position: absolute;
  left: 2.3rem;
  top: 71.4034rem;
  display: flex;
  align-items: flex-start;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .auto-group-5ja7-e9V {
  margin-right: 0.697rem;
  width: 5.8054rem;
  height: 100%;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .auto-group-5ja7-e9V .auto-group-3hlj-b4j {
  margin-bottom: 0.6406rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .auto-group-5ja7-e9V .auto-group-3hlj-b4j .item-43-jwd {
  margin-right: 1.4031rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .auto-group-5ja7-e9V .auto-group-3hlj-b4j .group-HCT {
  margin-bottom: 0.1702rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .auto-group-5ja7-e9V .ratings-E7h {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.02rem;
  color: #7e7e7e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .group-Zfm {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .group-Hbm {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .group-DkK {
  margin: 0.709rem 0.697rem 0rem 0rem;
  width: 1.5023rem;
  height: 1.5203rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .auto-group-yzso-pDD .auto-group-abry-PtT .group-69-vDV .auto-group-cqw9-A9m {
  margin-top: 0.7095rem;
  width: 1.5023rem;
  height: 1.5203rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB {
  margin: 0rem 49.645rem 0rem 49.629rem;
  width: calc(100% - 99.2737rem);
  height: 4.0542rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB .auto-group-rkqd-1AP {
  box-sizing: border-box;
  padding: 0.811rem 2.147rem 0.743rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB .auto-group-rkqd-1AP .group-Kwm {
  margin: 0.038rem 2.311rem 0rem 0rem;
  opacity: 0.4;
  width: 1.8008rem;
  height: 1.3135rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB .auto-group-rkqd-1AP .item-1-3cs {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.09rem;
  color: #3c3c3b;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB .auto-group-9qtm-Nf9 {
  margin-right: 2.295rem;
  width: 3.825rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.09rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-30.png');
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB .item-3-3mH {
  margin: 0.067rem 2.147rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3625;
  letter-spacing: 0.09rem;
  color: #3c3c3b;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .group-173-ggo .reviews-blogs-uJf .group-92-HkB .group-M1H {
  margin-top: 0.1055rem;
  opacity: 0.4;
  width: 1.8008rem;
  height: 1.3135rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH {
  height: 9rem;
  display: flex;
  align-items: center;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .final-ks-2-zK9 {
  width: 18.9rem;
  height: 9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV {
  box-sizing: border-box;
  padding: 2.423rem 0rem 0.4rem 28.8rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf {
  margin: 0rem 27.596rem 1.5rem 0rem;
  width: 46.6045rem;
  height: 4.6771rem;
  position: relative;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .group-172-CAK {
  opacity: 0.1;
  width: 2.0817rem;
  height: 1.0384rem;
  position: absolute;
  left: 44.5228rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .buy-properties-KVq {
  width: 15.1rem;
  height: 2.6rem;
  cursor: pointer;
  position: absolute;
  left: 10.3rem;
  top: 2.0771rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .rent-properties-ovo {
  width: 16rem;
  height: 2.6rem;
  cursor: pointer;
  position: absolute;
  left: 28.1rem;
  top: 2.0771rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .home-7Ao {
  width: 6rem;
  height: 2.6rem;
  position: absolute;
  left: 0;
  top: 1.8771rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .group-4-oJX {
  width: 46.6045rem;
  height: 4.6771rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .group-4-oJX .group-3-iwH {
  margin: 0rem 4.3rem 0.2rem 0rem;
  width: 6rem;
  height: 2.6rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .group-4-oJX .buy-properties-nw9 {
  margin-right: 2.7rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .group-4-oJX .rent-properties-6gw {
  margin-right: 0.4228rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .group-4-GGf .group-4-oJX .group-172-dRy {
  margin-bottom: 3.6387rem;
  opacity: 0.1;
  width: 2.0817rem;
  height: 1.0384rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-buy-properties-64P .auto-group-ndsw-eFH .auto-group-ogrk-vyV .auto-group-xlxz-9fD {
  box-sizing: border-box;
  padding: 0.126rem 1.855rem 0.126rem 0.945rem;
  height: 4rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.175;
  color: #fafafa;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #0fb3af;
  box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
  background-color: #0fb3af;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
