
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.9rem;
}.for-rent-properties-UEK {
  box-sizing: border-box;
  padding: 0.6rem 0rem 24.5rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB {
  margin: 0rem 14.6rem 1.3rem 0rem;
  height: 11.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .final-ks-1-gbH {
  margin: 0rem 27.53rem 0.1rem 0rem;
  width: 24.57rem;
  height: 11.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/final-ks-1-bg-zX9.png');
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD {
  margin: 0.452rem 19.4rem 0rem 0rem;
  width: 47.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR {
  margin: 0rem 3.6rem 0.7rem 0rem;
  width: calc(100% - 3.6rem);
  height: 4.7477rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR .auto-group-xyyy-qcb {
  box-sizing: border-box;
  padding: 1.948rem 2.7rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR .auto-group-xyyy-qcb .group-3-aaB {
  margin: 0rem 4.3rem 0.2rem 0rem;
  width: 6rem;
  height: 2.6rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR .auto-group-xyyy-qcb .buy-properties-D7M {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR .auto-group-kr8f-KRH {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR .auto-group-kr8f-KRH .group-172-DmZ {
  margin: 0rem 2.1rem 1.11rem 0rem;
  opacity: 0.1;
  width: 1.9842rem;
  height: 1.0372rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .group-4-WKR .auto-group-kr8f-KRH .rent-properties-iiK {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-flg7-nuD .rent-properties-ERm {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.1rem;
  color: #0fb3af;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-y7hz-xvB .auto-group-ufro-aEj {
  margin: 2.4rem 0rem 5.4rem 0rem;
  width: 9.1rem;
  height: calc(100% - 7.8rem);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.175;
  color: #fafafa;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0fb3af;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
  background-color: #0fb3af;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-odww-xWB {
  margin: 0rem 15.3rem 6.2rem 21.8rem;
  width: calc(100% - 37.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 {
  margin: 0.4rem 2.638rem 0rem 0rem;
  width: 33.6625rem;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-h4jb-SAT {
  margin-bottom: 5.4rem;
  width: 33.0625rem;
  height: 34.8rem;
  position: relative;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-h4jb-SAT .rectangle-101-a1m {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-h4jb-SAT .mask-group-FNo {
  width: 33.0625rem;
  height: 20.3219rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-h4jb-SAT .bhk-duplex-23000-month-bSf {
  width: 24rem;
  height: 11.3rem;
  position: absolute;
  left: 1.3rem;
  top: 22rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-h4jb-SAT .group-98-fSX {
  width: 4.019rem;
  height: 4.0665rem;
  cursor: pointer;
  position: absolute;
  left: 27.2rem;
  top: 29.2rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK {
  width: 100%;
  height: 79.1rem;
  position: relative;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .rectangle-104-9Mh {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .rectangle-107-r1D {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 44.3rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .mask-group-ZwD {
  width: 33.6625rem;
  height: 20.5219rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .mask-group-Jdu {
  width: 33.0625rem;
  height: 20.3219rem;
  position: absolute;
  left: 0;
  top: 41.8633rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .bhk-duplex-20000-month-Sk7 {
  width: 24.2rem;
  height: 11.3rem;
  position: absolute;
  left: 1rem;
  top: 22.9rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .bhk-buglow-25000-month-LKh {
  width: 24rem;
  height: 11.3rem;
  position: absolute;
  left: 2.7rem;
  top: 64.6rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-u2co-VW7 .auto-group-qa6j-PtK .group-97-pkf {
  width: 4.119rem;
  height: 47.3542rem;
  position: absolute;
  left: 27.2rem;
  top: 30.1rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 {
  width: 69.5rem;
  height: 117.6rem;
  position: relative;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-82-3dR {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 36.4rem;
  top: 0;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-108-wio {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 36.7rem;
  top: 82.8rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-103-rqm {
  width: 31.4rem;
  height: 34.8rem;
  position: absolute;
  left: 1.4rem;
  top: 40.7rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-102-MXd {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 36.4rem;
  top: 41.4rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-100-UcF {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-106-9TV {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 0.2rem;
  top: 82.5rem;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-99-qLK {
  width: 32.7rem;
  height: 20.4rem;
  position: relative;
  left: 1.1rem;
  top: 40.7rem;
  background-size: 99.816% 114.699%;
  background-position: -0.9197rem -2.6rem;
  background-image: url('../assets/rectangle-99-UBh.png');
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-99-e2s {
  width: 33.1rem;
  height: 20.4rem;
  position: relative;
  left: 36.4rem;
  top: 40.7rem;
  background-size: 124.623% 165.826%;
  background-position: -6.7rem -7.7rem;
  background-image: url('../assets/rectangle-99.png');
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .rectangle-99-XsM {
  width: 33.1rem;
  height: 20.3rem;
  position: absolute;
  left: 36.4rem;
  top: 82.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .mask-group-4sH {
  width: 32.9313rem;
  height: 20.3219rem;
  position: absolute;
  left: 0.0688rem;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .mask-group-cP1 {
  width: 33.0625rem;
  height: 20.7219rem;
  position: absolute;
  left: 36.4375rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .mask-group-LZu {
  width: 40.1313rem;
  height: 19.8367rem;
  position: absolute;
  left: 0.0688rem;
  top: 82.4633rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .bhk-buglow-20000-month-VBu {
  width: 24.2rem;
  height: 18.8rem;
  position: absolute;
  left: 0.1rem;
  top: 22.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .bhk-bunglow-22000-month-bVq {
  width: 24.9rem;
  height: 15.1rem;
  position: absolute;
  left: 37.7rem;
  top: 22.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .bhk-tenament-18000-month-iKZ {
  width: 26.3rem;
  height: 15.1rem;
  position: absolute;
  left: 1.1rem;
  top: 63.6rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .bhk-vila-30000-month-PAo {
  width: 24.2rem;
  height: 11.3rem;
  position: absolute;
  left: 37.4rem;
  top: 63.5rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .bhk-duplex-20000-month-3WF {
  width: 24.2rem;
  height: 11.3rem;
  position: absolute;
  left: 2.6rem;
  top: 105.2rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .bhk-duplex-27000-month-gJK {
  width: 24rem;
  height: 11.3rem;
  position: absolute;
  left: 38.9rem;
  top: 105.2rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .group-93-o83 {
  width: 40.6rem;
  height: 86.6rem;
  position: absolute;
  left: 27.7rem;
  top: 30.1rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .group-94-7Pd {
  width: 4.019rem;
  height: 4.0664rem;
  position: absolute;
  left: 64rem;
  top: 30.1rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .group-95-dsm {
  width: 4.019rem;
  height: 4.0664rem;
  position: absolute;
  left: 63.8rem;
  top: 70.7rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-odww-xWB .auto-group-fx5h-Lj1 .group-99-jfu {
  width: 4.019rem;
  height: 4.0664rem;
  position: absolute;
  left: 27.2rem;
  top: 112.6rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-6udy-FeF {
  margin: 0rem 15.3rem 0rem 22.4rem;
  width: calc(100% - 37.7rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-r9od-kqu {
  margin: 0rem 2.6rem 0.3rem 0rem;
  width: 34.5rem;
  height: 34.8rem;
  position: relative;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-r9od-kqu .rectangle-105-V2o {
  width: 32.8rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-r9od-kqu .bhk-duplex-26000-month-QQf {
  width: 24rem;
  height: 11.3rem;
  position: absolute;
  left: 1.2rem;
  top: 23rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-r9od-kqu .image-11-iAT {
  width: 33.2rem;
  height: 20.6rem;
  position: relative;
  left: 1.3rem;
  top: 5rem;
  background-size: 100% 124.138%;
  background-position: 0rem -2.0563rem;
  background-image: url('../assets/image-11-URM.png');
  border-radius: 1rem;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-r9od-kqu .group-101-YQP {
  width: 4.019rem;
  height: 4.0664rem;
  position: absolute;
  left: 26.7rem;
  top: 29.2rem;
  object-fit: contain;
  vertical-align: top;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-lghm-G5V {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.8rem 0rem;
  width: 32.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-lghm-G5V .image-12-zGP {
  margin-bottom: 1.8rem;
  width: 32.8rem;
  height: 20.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-lghm-G5V .auto-group-6do5-XGK {
  margin: 0rem 2.081rem 0rem 1.3rem;
  width: calc(100% - 3.381rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-lghm-G5V .auto-group-6do5-XGK .bhk-duplex-30000-month-Tfm {
  margin-right: 1.2rem;
  max-width: 24.2rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-lghm-G5V .auto-group-6do5-XGK .group-102-ni3 {
  margin-bottom: 0.3336rem;
  width: 4.019rem;
  height: 4.0664rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-dkbd-GNK {
  box-sizing: border-box;
  padding-bottom: 0.8rem;
  width: 32.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.2rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-dkbd-GNK .image-13-Cmm {
  margin-bottom: 2.4rem;
  width: 32.8rem;
  height: 20.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-dkbd-GNK .auto-group-hff5-wzF {
  margin: 0rem 0.881rem 0rem 2.2rem;
  width: calc(100% - 3.081rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-dkbd-GNK .auto-group-hff5-wzF .bhk-duplex-27000-month-5qZ {
  margin-right: 1.7rem;
  max-width: 24rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.for-rent-properties-UEK .auto-group-6udy-FeF .auto-group-dkbd-GNK .auto-group-hff5-wzF .group-103-1jD {
  margin-bottom: 1.0336rem;
  width: 4.019rem;
  height: 4.0664rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
