
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.6rem;
}.log-in-page-ZKm {
  width: 100%;
  height: 110.1rem;
  position: relative;
  overflow: hidden;
  background-color: #dddddd;
}
.log-in-page-ZKm .rectangle-162-Vz7 {
  width: 71.8rem;
  height: 81.15rem;
  position: absolute;
  left: 37.2rem;
  top: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.2rem;
}
.log-in-page-ZKm .log-in-cJ3 {
  box-sizing: border-box;
  padding-bottom: 1.2989rem;
  width: 59.6rem;
  height: 42.4rem;
  position: absolute;
  left: 43.8rem;
  top: 27.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 {
  margin-bottom: 1.418rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .log-in-please-Ruh {
  margin: 0rem 0.486rem 4.69rem 0rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.08rem;
  color: #3c3c3b;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 {
  margin-bottom: 2.0174rem;
  box-sizing: border-box;
  padding-bottom: 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-xk4t-eXZ {
  margin-bottom: 3.7403rem;
  width: 100%;
  height: 6.5136rem;
  position: relative;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-xk4t-eXZ .rectangle-102-BXV {
  width: 59.6rem;
  height: 6.4762rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #3c3c3b;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
  background-color: #3c3c3b;
  border-radius: 0.5rem;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-xk4t-eXZ .rectangle-103-Vq1 {
  width: 59.0975rem;
  height: 6.4992rem;
  position: absolute;
  left: 0.5025rem;
  top: 0.0144rem;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-xk4t-eXZ .enter-your-email-address-phone-number-here-np7 {
  width: 38.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.0446rem;
  top: 2.0508rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.034rem;
  color: #788079;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-9trz-QqV {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  height: 6.4762rem;
  position: relative;
  border: solid 0.1rem #3c3c3b;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(60, 60, 59, 0.1800000072);
  background-color: #3c3c3b;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-9trz-QqV .rectangle-105-9HH {
  width: 59.0888rem;
  height: 6.4762rem;
  position: absolute;
  left: 0.5111rem;
  top: 0;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-126-i87 .auto-group-9trz-QqV .enter-your-password-here-osd {
  width: 21.5rem;
  height: 2.4rem;
  position: absolute;
  left: 2.0446rem;
  top: 1.2952rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: 0.034rem;
  color: #788079;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .forgot-password-nUf {
  margin: 0rem 2.977rem 2.062rem 0rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.028rem;
  color: #3c3c3b;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .group-128-gx7 .group-127-5Cs {
  margin: 0rem 22.979rem 0rem 21.9rem;
  width: calc(100% - 44.8789rem);
  height: 5.1809rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.09rem;
  color: #ffffff;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0fb3af;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(15, 179, 175, 0.1800000072);
  background-color: #0fb3af;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .auto-group-i7ub-eQP {
  margin: 0rem 18.6rem 0rem 19.1rem;
  width: calc(100% - 37.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .auto-group-i7ub-eQP .dont-have-an-account-9rw {
  margin: 0.001rem 0.15rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.028rem;
  color: #3c3c3b;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .auto-group-i7ub-eQP .dont-have-an-account-9rw .dont-have-an-account-9rw-sub-0 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.028rem;
  color: rgba(0, 0, 0, 0.349999994);
  font-family: Open Sans, 'Source Sans Pro';
}
.log-in-page-ZKm .log-in-cJ3 .auto-group-i7ub-eQP .dont-have-an-account-9rw .dont-have-an-account-9rw-sub-1 {
}
.log-in-page-ZKm .log-in-cJ3 .auto-group-i7ub-eQP .line-3-cXZ {
  margin-right: 0.25rem;
  width: 0.1rem;
  height: 2.3022rem;
  background-color: #000000;
  flex-shrink: 0;
}
.log-in-page-ZKm .log-in-cJ3 .auto-group-i7ub-eQP .sign-up-9XV {
  margin-top: 0.0011rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.028rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.log-in-page-ZKm .item-1600063865945-1-ymR {
  width: 71.8rem;
  height: 20rem;
  position: absolute;
  left: 37.2rem;
  top: 3.2rem;
  object-fit: cover;
  vertical-align: top;
}
.log-in-page-ZKm .unlock-the-door-to-your-dream-kQo {
  width: 32.2rem;
  height: 9.3rem;
  position: absolute;
  left: 48.3rem;
  top: 8.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #3c3c3b;
  font-family: Kaushan Script, 'Source Sans Pro';
}
